# Simple example yosys script
# Used to generate yosys scripts to build specific projects
# This script is used in the RTL --> Yosys --> ABC flow

# Read hdl input files
{{#vhdl}}
read_vhdl {{ . }}
{{/vhdl}}
{{#verilog}}
read_verilog {{ . }}
{{/verilog}}

# Run ice40 synthesis passes
synth_ice40

# Now write the verilog output
write_verilog {{ netlist }}
