rule vivado
    command = cd $cwd && {{ utils_path }}/retry.sh {{ vivado_path }} -mode batch -journal $journal -log $log -source $in >&- 
    description = vivado $in

{{#in_context}}
rule vivado_ioparse
    command = python3 bfasst/utils/vivado_ioparse.py <$in >$out
    description = vivado_ioparse <$in >$out
    
{{/in_context}}
