rule vivado
    command = export tempjou=$$(mktemp); export templog=$$(mktemp); cd $cwd && {{ utils_path }}/retry.sh {{ vivado_path }} -mode batch -journal $$tempjou -log $$templog -source $in >&- && mv $$tempjou $journal && mv $$templog $log
    description = vivado $in

rule vivado_ioparse
    command = python3 bfasst/utils/vivado_ioparse.py <$in >$out
    description = vivado_ioparse <$in >$out

