rule vivado
    command = cd $cwd && {{ utils_path }}/retry.sh {{ vivado_path }} -mode batch -journal $journal -log $log -source $in >&- 2>&-
    description = vivado $in

rule vivado_ioparse
    command = python3 bfasst/utils/vivado_ioparse.py <$in >$out
    description = vivado_ioparse <$in >$out

