[submodule "third_party/fasm2bels"]
	path = third_party/fasm2bels
	url = git@github.com:byuccl/symbiflow-xc-fasm2bels.git
[submodule "third_party/yosys"]
	path = third_party/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "third_party/WaFoVe"]
	path = third_party/WaFoVe
	url = https://github.com/byuccl/WaFoVe.git
