# Temporary files
*~
\#*
.#*
temp/

# Python files
/.venv
__pycache__
*.egg-info

# extra stuff
**/build
**/icestorm
**/source_list

# Vivado files
.Xil
*.log
*.jou
*.str

ic2/
conformal/

# Generated local environment
env.sh

# Installed tools
/third_party/rapidwright*
third_party
