[submodule "third_party/fasm2bels"]
	path = third_party/fasm2bels
	url = https://github.com/byuccl/f4pga-xc-fasm2bels.git
[submodule "third_party/yosys"]
	path = third_party/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "third_party/WaFoVe"]
	path = third_party/WaFoVe
	url = https://github.com/byuccl/WaFoVe.git
[submodule "third_party/RapidWright"]
	path = third_party/RapidWright
	url = https://github.com/Xilinx/RapidWright.git
[submodule "third_party/gmt_tools"]
	path = third_party/gmt_tools
	url = git@github.com:byuccl/gmt_tools.git
[submodule "third_party/encrypted_ip"]
	path = third_party/encrypted_ip
	url = git@github.com:byuccl/encrypted_ip.git
