# Temporary files
*~
\#*
.#*
temp/

# Python files
/.venv
__pycache__
*.egg-info

# Python packaging
*.egg-info

# extra stuff
**/build
**/icestorm
**/source_list
*wire_swap*
*bit_flip*
*result*

# Vivado files
.Xil
*.log
*.jou
*.str

ic2/

# Generated local environment
env.sh

# Xray Databases
*_db

# Ninja related files
build.ninja
.ninja_log
.ninja_deps
