rule configure
    command = python3 {{ ninja_flows_path }}/ninja_flow_manager.py --flow $flow --designs $in
    generator = 1

build build.ninja: configure {{#designs}}{{ . }} {{/designs}} | {{#deps}}{{ . }}{{/deps}}
    flow = {{ flow }}

