setuptools
bidict
black==25.1.0
chevron
cmake
cryptography
in_place
isort
JPype1
matplotlib
numpy
pandas
paramiko
pycapnp
pylint
pyyaml
requests
scp
spydrnet @ git+https://github.com/byuccl/spydrnet@bfasst_spydrnet
werkzeug
boolean.py
xlsxwriter
