setuptools
bidict
black==24.3.0
chevron
cmake
cryptography
in_place
JPype1
matplotlib
numpy
paramiko
pycapnp
pylint
pyyaml
requests
scp
spydrnet @ git+https://github.com/byuccl/spydrnet@bfasst_spydrnet
werkzeug
boolean.py
xlsxwriter