build {{ xray_output }}/{{ top }}.fasm {{ xray_output }}/to_fasm.log: bit_to_fasm {{ bitstream_path }}
    fasm2bels_python_path = {{ fasm2bels_python_path }}
    bit_to_fasm_path = {{ bit_to_fasm_path }}
    db_root = {{ db_root }}
    part = {{ part }}

build {{ xray_output }}/{{ top }}_reversed.v {{ xray_output }}/to_netlist.log {{ xray_output }}/{{ top }}_reversed.xdc: fasm_to_netlist | {{ xray_output }}/{{ top }}.fasm
    fasm2bels_python_path = {{ fasm2bels_python_path }}
    part_db = {{ part }}_db
    db_root = {{ db_root }}
    part = {{ part }}
    fasm_file = {{ fasm_file }}
    verilog_file = {{ verilog_file }}
    xdc_file = {{ xdc_file }}
    input_xdc = {{ input_xdc }}

