rule inject
    command = python {{ bfasst_path }}/bfasst/utils/error_injector.py --build_dir $build_dir --log_path $log_path --seed $seed --error_type $error_type --reversed_netlist $reversed_netlist $logging_level
    description = inject a $error_type into xrev netlist for $build_dir

