build {{ output_dump }} {{ golden }} {{ ip_list }}: isoblaze_dump | {{ design_checkpoint }} {{ isoblaze_dump_script }}
    design_checkpoint = {{ design_checkpoint }}
    output_dump = {{ output_dump }}

