build {{ dumpfile }} {{ labelfile }}: isoblaze_dump | {{ design_checkpoint }} {{ isoblaze_dump_util }} {{ collect_ip_util }}
    design_checkpoint = {{ design_checkpoint }}
    dumpfile = {{ dumpfile }}
    labelfile = {{ labelfile }}

