build {{out_dcp}} {{out_edf}} {{unmodified_out_dcp}} {{unmodified_out_edf}} : netlist_unredact {{dcp_in}} {{edf_in}} {{unmodified_dcp_in}} {{unmodified_edf_in}}
    script            = {{unredact_script_path}}
    build_path        = {{build_path}}
    dcp_in            = {{dcp_in}}
    edf_in            = {{edf_in}}
    unmod_dcp_in      = {{unmodified_dcp_in}}
    unmod_edf_in      = {{unmodified_edf_in}}
    props             = {{props}}
    out_dcp           = {{out_dcp}}
    out_edf           = {{out_edf}}
    unmod_out_dcp     = {{unmodified_out_dcp}}
    unmod_out_edf     = {{unmodified_out_edf}}
    log               = {{log_path}}
{{#has_restruct_opt}}
    restruct_args     = --pre_phys_opt_dcp {{pre_phys_opt_dcp}} --pre_phys_opt_edf {{pre_phys_opt_edf}} --post_place_dir {{post_place_dir}} --post_route_dir {{post_route_dir}}
{{/has_restruct_opt}}
{{^has_restruct_opt}}
    restruct_args     =
{{/has_restruct_opt}}
