rule netlist_deobfuscate
  command = python {{ transform_script_path }} --build_path {{ build_path }} --dcp_in {{ dcp_in }} --edf_in {{ edf_in }} --props {{ props }} --out_dcp {{ out_dcp }} --out_edf {{ out_edf }} --log {{ log_path }}
  description = De-obfuscate netlist: apply saved properties
