rule netlist_phys_to_logical
    command = python {{ bfasst_path }}/bfasst/utils/netlist_phys_to_logical.py $build_path  $netlist_in  $netlist_out
    description = netlist physical to logical for $in
