rule netlist_obfuscate
  command = python $script --build_path $build_path --dcp $dcp --edf $edf --orig_dcp $orig_dcp --orig_edf $orig_edf --out_dcp $out_dcp --out_edf $out_edf --untransformed_out_dcp $untrans_dcp --untransformed_out_edf $untrans_edf --original_cell_props $orig_props --log $log $logging_level
  description = [NetlistObfuscate] Obfuscating netlist
