build {{transformed_synth_dcp}} {{transformed_synth_edf}} {{untransformed_synth_dcp}} {{untransformed_synth_edf}} {{original_cell_props}}: netlist_obfuscate {{dcp_path}} {{edf_path}}
    script          = {{transform_script_path}}
    build_path      = {{build_path}}
    dcp             = {{dcp_path}}
    edf             = {{edf_path}}
    orig_dcp        = {{orig_dcp_path}}
    orig_edf        = {{orig_edf_path}}
    out_dcp         = {{transformed_synth_dcp}}
    out_edf         = {{transformed_synth_edf}}
    untrans_dcp     = {{untransformed_synth_dcp}}
    untrans_edf     = {{untransformed_synth_edf}}
    orig_props      = {{original_cell_props}}
    log             = {{log_path}}
    logging_level   = {{logging_level}}
