set_io clk J3
set_io rst G1
set_io port_addr[0] B1
set_io port_addr[1] B2
set_io port_addr[2] C1
set_io port_addr[3] C2
set_io port_addr[4] D1
set_io port_addr[5] D2
set_io port_addr[6] E2
set_io port_addr[7] E3
set_io read_e F1
set_io write_e F2
set_io data_in[0] F3
set_io data_in[1] F4
set_io data_in[2] F5
set_io data_in[3] G2
set_io data_in[4] G3
set_io data_in[5] G4
set_io data_in[6] G5
set_io data_in[7] H1
set_io data_out[0] H2
set_io data_out[1] H3
set_io data_out[2] H4
set_io data_out[3] H5
set_io data_out[4] H6
set_io data_out[5] L3
set_io data_out[6] L4
set_io data_out[7] L5
