if { [ catch {
set_part {{ part }}

{{#verilog}}
read_verilog {{ . }}

{{/verilog}}
{{#system_verilog}}
read_verilog -sv {{ . }}

{{/system_verilog}}
{{#vhdl}}
read_vhdl {{ . }}

{{/vhdl}}
{{#vhdl_libs}}
read_vhdl -library {{1}} {{0}}

{{/vhdl_libs}}
synth_design -top {{ top }} {{ synth_args }}
{{#io}}
place_ports

{{/io}}
write_edif -force {{ synth_output }}/viv_synth.edf
write_checkpoint -force -file {{ synth_output }}/synth.dcp

{{#io}}
report_io -force -file {{ . }}

{{/io}}
} error_msg] } { 
    puts "\n$error_msg"
    exit 1
 }
exit