build {{outputs.setup_tcl}}: template {{outputs.synth_json}} {{synth_library}}/vivado_synth_setup.tcl.mustache
build {{outputs.synth_tcl}}: template {{outputs.synth_json}} {{synth_library}}/vivado_synth_run.tcl.mustache
build {{outputs.reports_tcl}}: template {{outputs.synth_json}} {{synth_library}}/vivado_synth_reports.tcl.mustache
build {{outputs.run_tcl}}: template {{outputs.synth_json}} {{ common_tools_path }}/vivado_top_tcl.mustache

{{#in_context}}
build {{ outputs.synth_constraints }}: vivado_ioparse {{ outputs.io_report }}
{{/in_context}}

build {{ outputs.synth_edf }} {{ outputs.synth_dcp }} {{#in_context}}{{ outputs.io_report }}{{/in_context}}: vivado {{ outputs.run_tcl }} | {{#verilog}}{{ . }} {{/verilog}} {{#system_verilog}}{{ . }} {{/system_verilog}} {{outputs.setup_tcl}} {{outputs.synth_tcl}} {{outputs.reports_tcl}}
    journal = {{ outputs.journal }}
    log = {{ outputs.log }}
    cwd = {{ cwd }}


