build {{ synth_constraints }}: vivado_ioparse {{ io_report }}

build {{ synth_edf }} {{ synth_dcp }} {{ io_report }}: vivado {{ design_tcl }} | 
    journal = {{ synth_journal }}
    log = {{ synth_log }}
    cwd = {{ cwd }}

