set_part {{ part }}

{{#verilog}}
read_verilog {{ . }}

{{/verilog}}
{{#system_verilog}}
read_verilog -sv {{ . }}

{{/system_verilog}}
{{#vhdl}}
read_vhdl {{ . }}

{{/vhdl}}
{{#vhdl_libs}}
read_vhdl -library {{1}} {{0}}

{{/vhdl_libs}}
set timen [exec date]

puts "Synth start time: $timen"

synth_design -top {{ top }} {{ synth_args }}

set timen [exec date]
puts "Synth start time: $timen"
{{#io}}
place_ports
report_io -force -file {{ . }}
{{/io}}

write_edif -force {{ synth_output }}/viv_synth.edf
write_verilog -force -file {{ synth_output }}/viv_synth.v
report_utilization -file {{ synth_output }}/utilization.txt -hierarchical

file delete {{ synth_output }}/synth.dcp
write_checkpoint -file {{ synth_output }}/synth.dcp
if { ! [ file exists {{ synth_output }}/synth.dcp ] }  {
    exit 1 
}
exit

