build {{ log_file }} {{ dcp_encrypted }}: encrypt_ip
    dcp_unencrypted = {{ dcp_unencrypted }}
    key = 00112233445566778899AABBCCDDEEFF
    dcp_encrypted = {{ dcp_encrypted }}
    lut_ciphertext = {{ lut_ciphertext }}
    log_file = {{ log_file }}

build {{ cwd }}/dcp_to_v.tcl: template {{ cwd }}/dcp_to_v.json {{ gen_encrypted_verilog_template }}
    cwd = {{ cwd }}

build {{ verilog_encrypted }}: vivado {{ cwd }}/dcp_to_v.tcl
    cwd = {{ cwd }}
    journal = {{ cwd }}/vivado.jou
    log = {{ cwd }}/vivado.log
