
open_checkpoint {{ loader_impl_dcp }}


#set_property dont_touch true [get_cells $env(USER_SPACE_BLOCK_NAME)]
read_checkpoint -cell "static_top_i/top_0" {{ user_synth_dcp }}

# Step 4: Place and route
puts "Time starting implementing partition DTIMING"
puts [exec date]
place_design
route_design
puts "Time ending implementing partition DTIMING"
puts [exec date]

# Step 4: Write out implemented checkpoints
write_checkpoint {{ final }}.dcp -force
write_edif {{ final }}.edif -force

puts "Time starting writing bitstream DTIMING"
puts [exec date]


# Step 5.1: Bitstream for timing purposes
write_bitstream -bin_file -cell "static_top_i/top_0" {{ user_partial_bitstream }} -force


puts "Time starting writing bitstreams not applicable for timing DTIMING"
puts [exec date]

# Step 5.2: Write out full bitstream
write_bitstream -bin_file {{ final }}_unencrypted.bit -force

#Step 6: Write out encrypted bitstream
set_property BITSTREAM.ENCRYPTION.ENCRYPT YES [get_designs checkpoint_implemented_loader]
set_property BITSTREAM.ENCRYPTION.ENCRYPTKEYSELECT EFUSE [get_designs checkpoint_implemented_loader]
set_property BITSTREAM.ENCRYPTION.KEYFILE {{ key_files }}/design_1_wrapper.nky [get_designs checkpoint_implemented_loader]
#set_property BITSTREAM.GENERAL.CRC DISABLE [get_designs checkpoint_$env(LOADER_DESIGN_NAME_IMPLEMENTED)]
write_bitstream -bin_file {{ final }}_encrypted.bit -force
puts "Time ending writing bitstream  not applicable for timing DTIMING"
puts [exec date]
exit