build {{ cwd }}/vivado.tcl: template {{ cwd  }}/vivado.json {{ loader_tcl_template }}

build {{ final }}.dcp {{ final }}.edif {{ final }}_unencrypted.bit {{ final }}_unencrypted_pblock_user_partial.bit {{ final }}_encrypted.bit {{ user_partial_bitstream }}: vivado {{ cwd }}/vivado.tcl {{ top_dcp }} 
    cwd = {{ cwd }}
    journal = {{ cwd }}/vivado.jou
    log = {{ cwd }}/vivado.log

