build {{log_path}} : physcmp {{golden_dcp}} {{test_dcp}} {{golden_edf}} {{test_edf}} {{golden_setup_timing}} {{test_setup_timing}} {{golden_hold_timing}} {{test_hold_timing}} {{golden_timing_summary_full}} {{test_timing_summary_full}} {{golden_utilization}} {{test_utilization}} {{golden_power}} {{test_power}} {{golden_bitstream}} {{test_bitstream}}
    script               = {{compare_script_path}}
    golden_dcp           = {{golden_dcp}}
    golden_edf           = {{golden_edf}}
    golden_setup_timing  = {{golden_setup_timing}}
    golden_hold_timing   = {{golden_hold_timing}}
    golden_timing_full   = {{golden_timing_summary_full}}
    golden_utilization   = {{golden_utilization}}
    golden_power         = {{golden_power}}
    golden_bitstream     = {{golden_bitstream}}
    test_dcp             = {{test_dcp}}
    test_edf             = {{test_edf}}
    test_setup_timing    = {{test_setup_timing}}
    test_hold_timing     = {{test_hold_timing}}
    test_timing_full     = {{test_timing_summary_full}}
    test_utilization     = {{test_utilization}}
    test_power           = {{test_power}}
    test_bitstream       = {{test_bitstream}}
    log_path             = {{log_path}}
    logging_level        = {{logging_level}}
