rule physcmp
  command = python {{compare_script_path}} --golden_dcp {{golden_dcp}} --test_dcp {{test_dcp}} --golden_edf {{golden_edf}} --test_edf {{test_edf}} --log_path {{log_path}} {{logging_level}}
  description = PhysCmp between {{golden_dcp}} and {{test_dcp}}
