build {{log_path}}: physcmp {{golden_dcp}} {{test_dcp}} {{golden_edf}} {{test_edf}} {{golden_setup_timing}} {{test_setup_timing}} {{golden_hold_timing}} {{test_hold_timing}} {{golden_timing_summary_full}} {{test_timing_summary_full}} {{golden_utilization}} {{test_utilization}} {{golden_power}} {{test_power}}

