#ble_pack CONSTANT_ONE_LUT4_LC_7_25_0 { CONSTANT_ONE_LUT4 }
#clb_pack LT_7_25 { CONSTANT_ONE_LUT4_LC_7_25_0 }
#set_location LT_7_25 7 25
#set_location mem_mem_0_1 8 25
#set_location mem_mem_0_0 8 23
set_io write_clk J3
set_io write_address[7] C3
set_io write_address[6] E4
set_io write_address[5] B2
set_io write_address[4] F5
set_io write_address[3] B1
set_io write_address[2] C1
set_io write_address[1] C2
set_io write_address[0] F4
set_io wr_en D2
set_io read_clk G1
set_io read_address[7] G5
set_io read_address[6] D1
set_io read_address[5] G4
set_io read_address[4] E3
set_io read_address[3] H5
set_io read_address[2] E2
set_io read_address[1] G3
set_io read_address[0] F3
set_io rd_en H3
set_io data_out[9] H6
set_io data_out[8] F1
set_io data_out[7] H4
set_io data_out[6] G2
set_io data_out[5] J4
set_io data_out[4] H2
set_io data_out[31] J5
set_io data_out[30] H1
set_io data_out[3] J2
set_io data_out[29] J1
set_io data_out[28] K1
set_io data_out[27] K3
set_io data_out[26] L4
set_io data_out[25] L1
set_io data_out[24] K4
set_io data_out[23] M1
set_io data_out[22] L6
set_io data_out[21] L3
set_io data_out[20] K5
set_io data_out[2] M2
set_io data_out[19] L7
set_io data_out[18] N2
set_io data_out[17] M6
set_io data_out[16] M3
set_io data_out[15] L5
set_io data_out[14] N3
set_io data_out[13] P1
set_io data_out[12] M4
set_io data_out[11] P2
set_io data_out[10] M5
set_io data_out[1] R1
set_io data_out[0] N4
set_io data_in[9] E5
set_io data_in[8] D4
set_io data_in[7] B3
set_io data_in[6] C4
set_io data_in[5] C5
set_io data_in[4] A1
set_io data_in[31] A11
set_io data_in[30] D10
set_io data_in[3] D5
set_io data_in[29] C9
set_io data_in[28] E9
set_io data_in[27] D9
set_io data_in[26] A9
set_io data_in[25] F9
set_io data_in[24] C8
set_io data_in[23] F7
set_io data_in[22] B9
set_io data_in[21] D8
set_io data_in[20] B8
set_io data_in[2] A2
set_io data_in[19] A7
set_io data_in[18] C7
set_io data_in[17] B7
set_io data_in[16] B6
set_io data_in[15] B4
set_io data_in[14] E6
set_io data_in[13] B5
set_io data_in[12] A5
set_io data_in[11] D6
set_io data_in[10] A6
set_io data_in[1] D7
set_io data_in[0] D3
