build {{ xray_fasm }}: bit_to_fasm {{ bitstream_path }}
    xray_path = {{ xray_path }}
    fasm2bels_python_path = {{ fasm2bels_python_path }}
    bit_to_fasm_path = {{ bit_to_fasm_path }}
    db_root = {{ db_root }}
    part = {{ part }}

build {{ rev_netlist }} {{ xray_xdc }} {{ output_capnp_log }} {{ output_capnp_phys }} {{ output_capnp_xdc }} {{log_file}}: fasm_to_netlist {{ xray_fasm }}
    fasm2bels_path = {{ fasm2bels_path }}
    fasm2bels_python_path = {{ fasm2bels_python_path }}
    part_db = {{ part }}_db
    db_root = {{ db_root }}
    part = {{ part }}
    verilog_file = {{ rev_netlist }}
    xdc_file = {{ xray_xdc }}
    input_xdc = {{ input_xdc }}
    output_capnp_log = {{ output_capnp_log }}
    output_capnp_phys = {{ output_capnp_phys }}
    output_capnp_xdc =  {{ output_capnp_xdc }}
    log_file = {{ log_file }}
