rule metricscmp
  command = python $script --golden_timing $golden_timing --golden_utilization $golden_utilization --golden_log $golden_log --test_timing $test_timing --test_utilization $test_utilization --test_log $test_log --output $output
  description = Compare metrics between golden and test implementations
