rule metricscmp
  command = python $script --golden_bitstream $golden_bitstream --test_bitstream $test_bitstream --baseline_timing $baseline_timing --baseline_utilization $baseline_utilization --baseline_log $baseline_log --test_timing $test_timing --test_utilization $test_utilization --test_log $test_log $congestion_args $detailed_timing_args --output $output
  description = Compare metrics between baseline and test implementations
