read_verilog techlibs/xilinx/cells_sim.v
read_verilog {{ gold_netlist }}
prep -flatten; async2sync
delete t:RAMB* t:FIFO* t:DSP*
hierarchy -auto-top; rename -top gold; splitnets -ports; design -stash gold
read_verilog techlibs/xilinx/cells_sim.v
read_verilog {{ rev_netlist }}
prep -flatten; async2sync
delete t:RAMB* t:FIFO* t:DSP*
hierarchy -auto-top; rename -top gate; splitnets -ports; design -stash gate
design -copy-from gold -as gold gold; design -copy-from gate -as gate gate
equiv_make gold gate equiv
hierarchy -top equiv

# Combinational and structural equivalence (sound proofs)
equiv_simple
equiv_struct
equiv_simple

# Induction - sound proof for all time if it succeeds
equiv_induct -seq 64
equiv_simple

# Report final status (shows proven vs unproven cells)
# No -assert so it won't fail - check the log for results
equiv_status
