ble_pack uart_tx_inst.busy_reg_53_LC_5_1_0 { uart_tx_inst.busy_reg_53_THRU_LUT4_0, uart_tx_inst.busy_reg_53 }
clb_pack LT_5_1 { uart_tx_inst.busy_reg_53_LC_5_1_0 }
set_location LT_5_1 5 1
ble_pack uart_tx_inst.i1_2_lut_3_lut_LC_6_1_0 { uart_tx_inst.i1_2_lut_3_lut }
ble_pack uart_tx_inst.i1_3_lut_adj_25_LC_6_1_1 { uart_tx_inst.i1_3_lut_adj_25 }
ble_pack uart_tx_inst.i407_2_lut_LC_6_1_4 { uart_tx_inst.i407_2_lut }
clb_pack LT_6_1 { uart_tx_inst.i1_2_lut_3_lut_LC_6_1_0, uart_tx_inst.i1_3_lut_adj_25_LC_6_1_1, uart_tx_inst.i407_2_lut_LC_6_1_4 }
set_location LT_6_1 6 1
ble_pack uart_tx_inst.input_axis_tready_reg_49_LC_6_2_0 { uart_tx_inst.i1594_2_lut, uart_tx_inst.input_axis_tready_reg_49 }
clb_pack LT_6_2 { uart_tx_inst.input_axis_tready_reg_49_LC_6_2_0 }
set_location LT_6_2 6 2
ble_pack uart_rx_inst.busy_reg_86_LC_6_6_6 { uart_rx_inst.rxd_reg_I_0_1_lut_uart_rx_inst.busy_reg_86_REP_LUT4_0, uart_rx_inst.busy_reg_86 }
clb_pack LT_6_6 { uart_rx_inst.busy_reg_86_LC_6_6_6 }
set_location LT_6_6 6 6
ble_pack CONSTANT_ONE_LUT4_LC_6_7_2 { CONSTANT_ONE_LUT4 }
clb_pack LT_6_7 { CONSTANT_ONE_LUT4_LC_6_7_2 }
set_location LT_6_7 6 7
ble_pack uart_tx_inst.bit_cnt__i1_LC_7_1_1 { uart_tx_inst.i1_2_lut, uart_tx_inst.bit_cnt__i1 }
clb_pack LT_7_1 { uart_tx_inst.bit_cnt__i1_LC_7_1_1 }
set_location LT_7_1 7 1
ble_pack uart_tx_inst.i2_2_lut_4_lut_LC_7_2_0 { uart_tx_inst.i2_2_lut_4_lut }
ble_pack i1_4_lut_LC_7_2_1 { i1_4_lut }
ble_pack uart_tx_inst.i1035_4_lut_LC_7_2_2 { uart_tx_inst.i1035_4_lut }
ble_pack uart_tx_inst.i1_2_lut_4_lut_adj_24_LC_7_2_3 { uart_tx_inst.i1_2_lut_4_lut_adj_24 }
ble_pack uart_tx_inst.i1343_2_lut_LC_7_2_4 { uart_tx_inst.i1343_2_lut }
ble_pack uart_tx_inst.bit_cnt__i2_LC_7_2_5 { i1088_4_lut, uart_tx_inst.bit_cnt__i2 }
ble_pack uart_tx_inst.i1_3_lut_4_lut_LC_7_2_6 { uart_tx_inst.i1_3_lut_4_lut }
ble_pack uart_tx_inst.i266_2_lut_LC_7_2_7 { uart_tx_inst.i266_2_lut }
clb_pack LT_7_2 { uart_tx_inst.i2_2_lut_4_lut_LC_7_2_0, i1_4_lut_LC_7_2_1, uart_tx_inst.i1035_4_lut_LC_7_2_2, uart_tx_inst.i1_2_lut_4_lut_adj_24_LC_7_2_3, uart_tx_inst.i1343_2_lut_LC_7_2_4, uart_tx_inst.bit_cnt__i2_LC_7_2_5, uart_tx_inst.i1_3_lut_4_lut_LC_7_2_6, uart_tx_inst.i266_2_lut_LC_7_2_7 }
set_location LT_7_2 7 2
ble_pack uart_tx_inst.bit_cnt__i3_LC_7_3_1 { uart_tx_inst.mux_27_i4_4_lut, uart_tx_inst.bit_cnt__i3 }
ble_pack uart_tx_inst.bit_cnt__i0_LC_7_3_3 { uart_tx_inst.mux_27_i1_4_lut, uart_tx_inst.bit_cnt__i0 }
clb_pack LT_7_3 { uart_tx_inst.bit_cnt__i3_LC_7_3_1, uart_tx_inst.bit_cnt__i0_LC_7_3_3 }
set_location LT_7_3 7 3
ble_pack uart_rx_inst.overrun_error_reg_87_LC_7_4_0 { uart_rx_inst.overrun_error_reg_87_THRU_LUT4_0, uart_rx_inst.overrun_error_reg_87 }
clb_pack LT_7_4 { uart_rx_inst.overrun_error_reg_87_LC_7_4_0 }
set_location LT_7_4 7 4
ble_pack uart_rx_inst.prescale_reg__i5_LC_7_5_1 { uart_rx_inst.i673_3_lut, uart_rx_inst.prescale_reg__i5 }
ble_pack uart_rx_inst.prescale_reg__i4_LC_7_5_2 { uart_rx_inst.i678_3_lut, uart_rx_inst.prescale_reg__i4 }
ble_pack uart_rx_inst.prescale_reg__i8_LC_7_5_3 { uart_rx_inst.i658_3_lut, uart_rx_inst.prescale_reg__i8 }
ble_pack uart_rx_inst.i1585_4_lut_LC_7_5_6 { uart_rx_inst.i1585_4_lut }
ble_pack uart_rx_inst.i1011_2_lut_4_lut_LC_7_5_7 { uart_rx_inst.i1011_2_lut_4_lut }
clb_pack LT_7_5 { uart_rx_inst.prescale_reg__i5_LC_7_5_1, uart_rx_inst.prescale_reg__i4_LC_7_5_2, uart_rx_inst.prescale_reg__i8_LC_7_5_3, uart_rx_inst.i1585_4_lut_LC_7_5_6, uart_rx_inst.i1011_2_lut_4_lut_LC_7_5_7 }
set_location LT_7_5 7 5
ble_pack uart_rx_inst.i1596_4_lut_4_lut_LC_7_6_3 { uart_rx_inst.i1596_4_lut_4_lut }
ble_pack uart_rx_inst.i854_2_lut_LC_7_6_6 { uart_rx_inst.i854_2_lut }
clb_pack LT_7_6 { uart_rx_inst.i1596_4_lut_4_lut_LC_7_6_3, uart_rx_inst.i854_2_lut_LC_7_6_6 }
set_location LT_7_6 7 6
ble_pack uart_rx_inst.prescale_reg__i2_LC_7_7_1 { uart_rx_inst.i688_3_lut, uart_rx_inst.prescale_reg__i2 }
ble_pack uart_rx_inst.i1568_2_lut_LC_7_7_4 { uart_rx_inst.i1568_2_lut }
ble_pack uart_rx_inst.i1571_2_lut_LC_7_7_7 { uart_rx_inst.i1571_2_lut }
clb_pack LT_7_7 { uart_rx_inst.prescale_reg__i2_LC_7_7_1, uart_rx_inst.i1568_2_lut_LC_7_7_4, uart_rx_inst.i1571_2_lut_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack i1_3_lut_LC_7_8_0 { i1_3_lut }
ble_pack uart_rx_inst.i1037_4_lut_LC_7_8_1 { uart_rx_inst.i1037_4_lut }
ble_pack uart_rx_inst.bit_cnt__i0_LC_7_8_2 { i1094_3_lut, uart_rx_inst.bit_cnt__i0 }
ble_pack uart_rx_inst.i1_4_lut_4_lut_LC_7_8_3 { uart_rx_inst.i1_4_lut_4_lut }
ble_pack uart_rx_inst.i2_3_lut_adj_22_LC_7_8_5 { uart_rx_inst.i2_3_lut_adj_22 }
ble_pack uart_rx_inst.i1_2_lut_adj_23_LC_7_8_6 { uart_rx_inst.i1_2_lut_adj_23 }
clb_pack LT_7_8 { i1_3_lut_LC_7_8_0, uart_rx_inst.i1037_4_lut_LC_7_8_1, uart_rx_inst.bit_cnt__i0_LC_7_8_2, uart_rx_inst.i1_4_lut_4_lut_LC_7_8_3, uart_rx_inst.i2_3_lut_adj_22_LC_7_8_5, uart_rx_inst.i1_2_lut_adj_23_LC_7_8_6 }
set_location LT_7_8 7 8
ble_pack uart_rx_inst.i1_3_lut_4_lut_LC_7_9_0 { uart_rx_inst.i1_3_lut_4_lut }
ble_pack uart_rx_inst.bit_cnt__i3_LC_7_9_1 { uart_rx_inst.mux_46_i4_4_lut, uart_rx_inst.bit_cnt__i3 }
ble_pack uart_rx_inst.i1_2_lut_LC_7_9_2 { uart_rx_inst.i1_2_lut }
ble_pack uart_rx_inst.bit_cnt__i1_LC_7_9_3 { uart_rx_inst.mux_46_i2_4_lut, uart_rx_inst.bit_cnt__i1 }
ble_pack uart_rx_inst.i209_2_lut_3_lut_LC_7_9_6 { uart_rx_inst.i209_2_lut_3_lut }
clb_pack LT_7_9 { uart_rx_inst.i1_3_lut_4_lut_LC_7_9_0, uart_rx_inst.bit_cnt__i3_LC_7_9_1, uart_rx_inst.i1_2_lut_LC_7_9_2, uart_rx_inst.bit_cnt__i1_LC_7_9_3, uart_rx_inst.i209_2_lut_3_lut_LC_7_9_6 }
set_location LT_7_9 7 9
ble_pack uart_tx_inst.i319_4_lut_LC_8_1_0 { uart_tx_inst.i319_4_lut }
ble_pack uart_tx_inst.i787_3_lut_LC_8_1_1 { uart_tx_inst.i787_3_lut }
ble_pack uart_tx_inst.i11_4_lut_LC_8_1_3 { uart_tx_inst.i11_4_lut }
ble_pack uart_tx_inst.i15_4_lut_LC_8_1_4 { uart_tx_inst.i15_4_lut }
ble_pack uart_tx_inst.i18_4_lut_LC_8_1_5 { uart_tx_inst.i18_4_lut }
clb_pack LT_8_1 { uart_tx_inst.i319_4_lut_LC_8_1_0, uart_tx_inst.i787_3_lut_LC_8_1_1, uart_tx_inst.i11_4_lut_LC_8_1_3, uart_tx_inst.i15_4_lut_LC_8_1_4, uart_tx_inst.i18_4_lut_LC_8_1_5 }
set_location LT_8_1 8 1
ble_pack uart_tx_inst.i2_3_lut_LC_8_2_0 { uart_tx_inst.i2_3_lut }
ble_pack uart_tx_inst.data_reg_i0_i8_LC_8_2_1 { uart_tx_inst.i1064_3_lut_4_lut, uart_tx_inst.data_reg_i0_i8 }
ble_pack uart_tx_inst.i1_2_lut_4_lut_LC_8_2_2 { uart_tx_inst.i1_2_lut_4_lut }
ble_pack uart_tx_inst.i1_4_lut_LC_8_2_3 { uart_tx_inst.i1_4_lut }
ble_pack uart_tx_inst.i146_3_lut_LC_8_2_4 { uart_tx_inst.i146_3_lut }
ble_pack uart_tx_inst.i1527_2_lut_LC_8_2_5 { uart_tx_inst.i1527_2_lut }
ble_pack uart_tx_inst.i29_4_lut_LC_8_2_6 { uart_tx_inst.i29_4_lut }
clb_pack LT_8_2 { uart_tx_inst.i2_3_lut_LC_8_2_0, uart_tx_inst.data_reg_i0_i8_LC_8_2_1, uart_tx_inst.i1_2_lut_4_lut_LC_8_2_2, uart_tx_inst.i1_4_lut_LC_8_2_3, uart_tx_inst.i146_3_lut_LC_8_2_4, uart_tx_inst.i1527_2_lut_LC_8_2_5, uart_tx_inst.i29_4_lut_LC_8_2_6 }
set_location LT_8_2 8 2
ble_pack uart_rx_inst.i1587_2_lut_LC_8_3_0 { uart_rx_inst.i1587_2_lut }
ble_pack uart_tx_inst.i1_3_lut_LC_8_3_6 { uart_tx_inst.i1_3_lut }
clb_pack LT_8_3 { uart_rx_inst.i1587_2_lut_LC_8_3_0, uart_tx_inst.i1_3_lut_LC_8_3_6 }
set_location LT_8_3 8 3
ble_pack uart_rx_inst.output_axis_tvalid_reg_82_LC_8_4_3 { uart_rx_inst.i1376_3_lut, uart_rx_inst.output_axis_tvalid_reg_82 }
clb_pack LT_8_4 { uart_rx_inst.output_axis_tvalid_reg_82_LC_8_4_3 }
set_location LT_8_4 8 4
ble_pack uart_rx_inst.prescale_reg__i3_LC_8_5_0 { uart_rx_inst.i683_3_lut, uart_rx_inst.prescale_reg__i3 }
ble_pack uart_rx_inst.prescale_reg__i18_LC_8_5_1 { uart_rx_inst.i603_3_lut, uart_rx_inst.prescale_reg__i18 }
ble_pack uart_rx_inst.prescale_reg__i14_LC_8_5_2 { uart_rx_inst.i628_3_lut, uart_rx_inst.prescale_reg__i14 }
ble_pack uart_rx_inst.prescale_reg__i11_LC_8_5_3 { uart_rx_inst.i643_3_lut, uart_rx_inst.prescale_reg__i11 }
ble_pack uart_rx_inst.prescale_reg__i10_LC_8_5_4 { uart_rx_inst.i648_3_lut, uart_rx_inst.prescale_reg__i10 }
ble_pack uart_rx_inst.prescale_reg__i9_LC_8_5_5 { uart_rx_inst.i653_3_lut, uart_rx_inst.prescale_reg__i9 }
ble_pack uart_rx_inst.prescale_reg__i7_LC_8_5_6 { uart_rx_inst.i663_3_lut, uart_rx_inst.prescale_reg__i7 }
ble_pack uart_rx_inst.prescale_reg__i6_LC_8_5_7 { uart_rx_inst.i668_3_lut, uart_rx_inst.prescale_reg__i6 }
clb_pack LT_8_5 { uart_rx_inst.prescale_reg__i3_LC_8_5_0, uart_rx_inst.prescale_reg__i18_LC_8_5_1, uart_rx_inst.prescale_reg__i14_LC_8_5_2, uart_rx_inst.prescale_reg__i11_LC_8_5_3, uart_rx_inst.prescale_reg__i10_LC_8_5_4, uart_rx_inst.prescale_reg__i9_LC_8_5_5, uart_rx_inst.prescale_reg__i7_LC_8_5_6, uart_rx_inst.prescale_reg__i6_LC_8_5_7 }
set_location LT_8_5 8 5
ble_pack uart_rx_inst.i1351_2_lut_3_lut_LC_8_6_0 { uart_rx_inst.i1351_2_lut_3_lut }
ble_pack uart_rx_inst.i11_4_lut_LC_8_6_2 { uart_rx_inst.i11_4_lut }
ble_pack uart_rx_inst.i15_4_lut_LC_8_6_3 { uart_rx_inst.i15_4_lut }
ble_pack uart_rx_inst.i13_4_lut_LC_8_6_4 { uart_rx_inst.i13_4_lut }
ble_pack uart_rx_inst.i18_4_lut_LC_8_6_5 { uart_rx_inst.i18_4_lut }
ble_pack uart_rx_inst.i362_3_lut_4_lut_LC_8_6_6 { uart_rx_inst.i362_3_lut_4_lut }
ble_pack uart_rx_inst.i584_1_lut_LC_8_6_7 { uart_rx_inst.i584_1_lut }
clb_pack LT_8_6 { uart_rx_inst.i1351_2_lut_3_lut_LC_8_6_0, uart_rx_inst.i11_4_lut_LC_8_6_2, uart_rx_inst.i15_4_lut_LC_8_6_3, uart_rx_inst.i13_4_lut_LC_8_6_4, uart_rx_inst.i18_4_lut_LC_8_6_5, uart_rx_inst.i362_3_lut_4_lut_LC_8_6_6, uart_rx_inst.i584_1_lut_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack uart_rx_inst.i12_4_lut_LC_8_7_0 { uart_rx_inst.i12_4_lut }
ble_pack uart_rx_inst.prescale_reg__i13_LC_8_7_1 { uart_rx_inst.i633_3_lut, uart_rx_inst.prescale_reg__i13 }
ble_pack uart_rx_inst.prescale_reg__i15_LC_8_7_2 { uart_rx_inst.i623_3_lut, uart_rx_inst.prescale_reg__i15 }
ble_pack uart_rx_inst.prescale_reg__i17_LC_8_7_3 { uart_rx_inst.i613_3_lut, uart_rx_inst.prescale_reg__i17 }
ble_pack uart_rx_inst.prescale_reg__i16_LC_8_7_4 { uart_rx_inst.i618_3_lut, uart_rx_inst.prescale_reg__i16 }
ble_pack uart_rx_inst.prescale_reg__i1_LC_8_7_5 { uart_rx_inst.i1378_2_lut, uart_rx_inst.prescale_reg__i1 }
ble_pack uart_rx_inst.i14_4_lut_LC_8_7_6 { uart_rx_inst.i14_4_lut }
ble_pack uart_rx_inst.prescale_reg__i12_LC_8_7_7 { uart_rx_inst.i638_3_lut, uart_rx_inst.prescale_reg__i12 }
clb_pack LT_8_7 { uart_rx_inst.i12_4_lut_LC_8_7_0, uart_rx_inst.prescale_reg__i13_LC_8_7_1, uart_rx_inst.prescale_reg__i15_LC_8_7_2, uart_rx_inst.prescale_reg__i17_LC_8_7_3, uart_rx_inst.prescale_reg__i16_LC_8_7_4, uart_rx_inst.prescale_reg__i1_LC_8_7_5, uart_rx_inst.i14_4_lut_LC_8_7_6, uart_rx_inst.prescale_reg__i12_LC_8_7_7 }
set_location LT_8_7 8 7
ble_pack uart_rx_inst.i1516_4_lut_LC_8_8_0 { uart_rx_inst.i1516_4_lut }
ble_pack uart_rx_inst.i1384_3_lut_4_lut_LC_8_8_1 { uart_rx_inst.i1384_3_lut_4_lut }
ble_pack uart_rx_inst.data_reg__i7_LC_8_8_2 { i1067_4_lut, uart_rx_inst.data_reg__i7 }
ble_pack uart_rx_inst.i208_2_lut_3_lut_LC_8_8_3 { uart_rx_inst.i208_2_lut_3_lut }
ble_pack uart_rx_inst.i149_3_lut_LC_8_8_4 { uart_rx_inst.i149_3_lut }
ble_pack uart_rx_inst.i1340_3_lut_LC_8_8_5 { uart_rx_inst.i1340_3_lut }
ble_pack uart_rx_inst.i1374_2_lut_LC_8_8_6 { uart_rx_inst.i1374_2_lut }
ble_pack uart_rx_inst.i78_2_lut_LC_8_8_7 { uart_rx_inst.i78_2_lut }
clb_pack LT_8_8 { uart_rx_inst.i1516_4_lut_LC_8_8_0, uart_rx_inst.i1384_3_lut_4_lut_LC_8_8_1, uart_rx_inst.data_reg__i7_LC_8_8_2, uart_rx_inst.i208_2_lut_3_lut_LC_8_8_3, uart_rx_inst.i149_3_lut_LC_8_8_4, uart_rx_inst.i1340_3_lut_LC_8_8_5, uart_rx_inst.i1374_2_lut_LC_8_8_6, uart_rx_inst.i78_2_lut_LC_8_8_7 }
set_location LT_8_8 8 8
ble_pack uart_rx_inst.bit_cnt__i2_LC_8_9_0 { uart_rx_inst.i1_2_lut_3_lut, uart_rx_inst.bit_cnt__i2 }
clb_pack LT_8_9 { uart_rx_inst.bit_cnt__i2_LC_8_9_0 }
set_location LT_8_9 8 9
ble_pack uart_rx_inst.i2_4_lut_LC_8_10_2 { uart_rx_inst.i2_4_lut }
ble_pack uart_tx_inst.i1589_2_lut_3_lut_LC_8_10_3 { uart_tx_inst.i1589_2_lut_3_lut }
ble_pack uart_rx_inst.data_reg__i0_LC_8_10_6 { i1091_4_lut, uart_rx_inst.data_reg__i0 }
clb_pack LT_8_10 { uart_rx_inst.i2_4_lut_LC_8_10_2, uart_tx_inst.i1589_2_lut_3_lut_LC_8_10_3, uart_rx_inst.data_reg__i0_LC_8_10_6 }
set_location LT_8_10 8 10
ble_pack uart_rx_inst.i2_3_lut_LC_8_11_6 { uart_rx_inst.i2_3_lut }
clb_pack LT_8_11 { uart_rx_inst.i2_3_lut_LC_8_11_6 }
set_location LT_8_11 8 11
ble_pack i1_2_lut_LC_8_12_4 { i1_2_lut }
clb_pack LT_8_12 { i1_2_lut_LC_8_12_4 }
set_location LT_8_12 8 12
ble_pack uart_rx_inst.output_axis_tdata_reg__i1_LC_8_13_3 { uart_rx_inst.output_axis_tdata_reg__i1_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i1 }
clb_pack LT_8_13 { uart_rx_inst.output_axis_tdata_reg__i1_LC_8_13_3 }
set_location LT_8_13 8 13
ble_pack uart_rx_inst.rxd_reg_83_LC_8_14_4 { uart_rx_inst.rxd_reg_83_THRU_LUT4_0, uart_rx_inst.rxd_reg_83 }
clb_pack LT_8_14 { uart_rx_inst.rxd_reg_83_LC_8_14_4 }
set_location LT_8_14 8 14
ble_pack uart_tx_inst.i782_3_lut_LC_9_1_0 { uart_tx_inst.i782_3_lut }
ble_pack uart_tx_inst.prescale_reg__i13_LC_9_1_1 { uart_tx_inst.i784_3_lut_4_lut, uart_tx_inst.prescale_reg__i13 }
ble_pack uart_tx_inst.i792_3_lut_LC_9_1_2 { uart_tx_inst.i792_3_lut }
ble_pack uart_tx_inst.prescale_reg__i15_LC_9_1_3 { uart_tx_inst.i794_3_lut_4_lut, uart_tx_inst.prescale_reg__i15 }
ble_pack uart_tx_inst.i802_3_lut_LC_9_1_4 { uart_tx_inst.i802_3_lut }
ble_pack uart_tx_inst.prescale_reg__i17_LC_9_1_5 { uart_tx_inst.i804_3_lut_4_lut, uart_tx_inst.prescale_reg__i17 }
ble_pack uart_tx_inst.i12_4_lut_LC_9_1_6 { uart_tx_inst.i12_4_lut }
ble_pack uart_tx_inst.i2_3_lut_4_lut_LC_9_1_7 { uart_tx_inst.i2_3_lut_4_lut }
clb_pack LT_9_1 { uart_tx_inst.i782_3_lut_LC_9_1_0, uart_tx_inst.prescale_reg__i13_LC_9_1_1, uart_tx_inst.i792_3_lut_LC_9_1_2, uart_tx_inst.prescale_reg__i15_LC_9_1_3, uart_tx_inst.i802_3_lut_LC_9_1_4, uart_tx_inst.prescale_reg__i17_LC_9_1_5, uart_tx_inst.i12_4_lut_LC_9_1_6, uart_tx_inst.i2_3_lut_4_lut_LC_9_1_7 }
set_location LT_9_1 9 1
ble_pack uart_tx_inst.prescale_reg__i14_LC_9_2_0 { uart_tx_inst.i789_3_lut_4_lut, uart_tx_inst.prescale_reg__i14 }
ble_pack uart_tx_inst.i747_3_lut_LC_9_2_1 { uart_tx_inst.i747_3_lut }
ble_pack uart_tx_inst.prescale_reg__i6_LC_9_2_2 { uart_tx_inst.i749_3_lut_4_lut, uart_tx_inst.prescale_reg__i6 }
ble_pack uart_tx_inst.i752_3_lut_LC_9_2_3 { uart_tx_inst.i752_3_lut }
ble_pack uart_tx_inst.prescale_reg__i7_LC_9_2_4 { uart_tx_inst.i754_3_lut_4_lut, uart_tx_inst.prescale_reg__i7 }
ble_pack uart_tx_inst.i767_3_lut_LC_9_2_5 { uart_tx_inst.i767_3_lut }
ble_pack uart_tx_inst.prescale_reg__i10_LC_9_2_6 { uart_tx_inst.i769_3_lut_4_lut, uart_tx_inst.prescale_reg__i10 }
clb_pack LT_9_2 { uart_tx_inst.prescale_reg__i14_LC_9_2_0, uart_tx_inst.i747_3_lut_LC_9_2_1, uart_tx_inst.prescale_reg__i6_LC_9_2_2, uart_tx_inst.i752_3_lut_LC_9_2_3, uart_tx_inst.prescale_reg__i7_LC_9_2_4, uart_tx_inst.i767_3_lut_LC_9_2_5, uart_tx_inst.prescale_reg__i10_LC_9_2_6 }
set_location LT_9_2 9 2
ble_pack uart_tx_inst.prescale_reg__i16_LC_9_3_2 { uart_tx_inst.i799_3_lut_4_lut, uart_tx_inst.prescale_reg__i16 }
ble_pack uart_tx_inst.prescale_reg__i18_LC_9_3_4 { uart_tx_inst.i809_3_lut_4_lut, uart_tx_inst.prescale_reg__i18 }
ble_pack uart_tx_inst.i772_3_lut_LC_9_3_5 { uart_tx_inst.i772_3_lut }
ble_pack uart_tx_inst.prescale_reg__i11_LC_9_3_6 { uart_tx_inst.i774_3_lut_4_lut, uart_tx_inst.prescale_reg__i11 }
clb_pack LT_9_3 { uart_tx_inst.prescale_reg__i16_LC_9_3_2, uart_tx_inst.prescale_reg__i18_LC_9_3_4, uart_tx_inst.i772_3_lut_LC_9_3_5, uart_tx_inst.prescale_reg__i11_LC_9_3_6 }
set_location LT_9_3 9 3
ble_pack uart_tx_inst.i797_3_lut_LC_9_4_1 { uart_tx_inst.i797_3_lut }
ble_pack uart_tx_inst.i807_3_lut_LC_9_4_4 { uart_tx_inst.i807_3_lut }
clb_pack LT_9_4 { uart_tx_inst.i797_3_lut_LC_9_4_1, uart_tx_inst.i807_3_lut_LC_9_4_4 }
set_location LT_9_4 9 4
ble_pack uart_rx_inst.prescale_reg__i0_LC_9_5_0 { uart_rx_inst.sub_10_add_2_2_lut, uart_rx_inst.prescale_reg__i0, uart_rx_inst.sub_10_add_2_2 }
ble_pack uart_rx_inst.sub_10_add_2_3_lut_LC_9_5_1 { uart_rx_inst.sub_10_add_2_3_lut, uart_rx_inst.sub_10_add_2_3 }
ble_pack uart_rx_inst.sub_10_add_2_4_lut_LC_9_5_2 { uart_rx_inst.sub_10_add_2_4_lut, uart_rx_inst.sub_10_add_2_4 }
ble_pack uart_rx_inst.sub_10_add_2_5_lut_LC_9_5_3 { uart_rx_inst.sub_10_add_2_5_lut, uart_rx_inst.sub_10_add_2_5 }
ble_pack uart_rx_inst.sub_10_add_2_6_lut_LC_9_5_4 { uart_rx_inst.sub_10_add_2_6_lut, uart_rx_inst.sub_10_add_2_6 }
ble_pack uart_rx_inst.sub_10_add_2_7_lut_LC_9_5_5 { uart_rx_inst.sub_10_add_2_7_lut, uart_rx_inst.sub_10_add_2_7 }
ble_pack uart_rx_inst.sub_10_add_2_8_lut_LC_9_5_6 { uart_rx_inst.sub_10_add_2_8_lut, uart_rx_inst.sub_10_add_2_8 }
ble_pack uart_rx_inst.sub_10_add_2_9_lut_LC_9_5_7 { uart_rx_inst.sub_10_add_2_9_lut, uart_rx_inst.sub_10_add_2_9 }
clb_pack LT_9_5 { uart_rx_inst.prescale_reg__i0_LC_9_5_0, uart_rx_inst.sub_10_add_2_3_lut_LC_9_5_1, uart_rx_inst.sub_10_add_2_4_lut_LC_9_5_2, uart_rx_inst.sub_10_add_2_5_lut_LC_9_5_3, uart_rx_inst.sub_10_add_2_6_lut_LC_9_5_4, uart_rx_inst.sub_10_add_2_7_lut_LC_9_5_5, uart_rx_inst.sub_10_add_2_8_lut_LC_9_5_6, uart_rx_inst.sub_10_add_2_9_lut_LC_9_5_7 }
set_location LT_9_5 9 5
ble_pack uart_rx_inst.sub_10_add_2_10_lut_LC_9_6_0 { uart_rx_inst.sub_10_add_2_10_lut, uart_rx_inst.sub_10_add_2_10 }
ble_pack uart_rx_inst.sub_10_add_2_11_lut_LC_9_6_1 { uart_rx_inst.sub_10_add_2_11_lut, uart_rx_inst.sub_10_add_2_11 }
ble_pack uart_rx_inst.sub_10_add_2_12_lut_LC_9_6_2 { uart_rx_inst.sub_10_add_2_12_lut, uart_rx_inst.sub_10_add_2_12 }
ble_pack uart_rx_inst.sub_10_add_2_13_lut_LC_9_6_3 { uart_rx_inst.sub_10_add_2_13_lut, uart_rx_inst.sub_10_add_2_13 }
ble_pack uart_rx_inst.sub_10_add_2_14_lut_LC_9_6_4 { uart_rx_inst.sub_10_add_2_14_lut, uart_rx_inst.sub_10_add_2_14 }
ble_pack uart_rx_inst.sub_10_add_2_15_lut_LC_9_6_5 { uart_rx_inst.sub_10_add_2_15_lut, uart_rx_inst.sub_10_add_2_15 }
ble_pack uart_rx_inst.sub_10_add_2_16_lut_LC_9_6_6 { uart_rx_inst.sub_10_add_2_16_lut, uart_rx_inst.sub_10_add_2_16 }
ble_pack uart_rx_inst.sub_10_add_2_17_lut_LC_9_6_7 { uart_rx_inst.sub_10_add_2_17_lut, uart_rx_inst.sub_10_add_2_17 }
clb_pack LT_9_6 { uart_rx_inst.sub_10_add_2_10_lut_LC_9_6_0, uart_rx_inst.sub_10_add_2_11_lut_LC_9_6_1, uart_rx_inst.sub_10_add_2_12_lut_LC_9_6_2, uart_rx_inst.sub_10_add_2_13_lut_LC_9_6_3, uart_rx_inst.sub_10_add_2_14_lut_LC_9_6_4, uart_rx_inst.sub_10_add_2_15_lut_LC_9_6_5, uart_rx_inst.sub_10_add_2_16_lut_LC_9_6_6, uart_rx_inst.sub_10_add_2_17_lut_LC_9_6_7 }
set_location LT_9_6 9 6
ble_pack uart_rx_inst.sub_10_add_2_18_lut_LC_9_7_0 { uart_rx_inst.sub_10_add_2_18_lut, uart_rx_inst.sub_10_add_2_18 }
ble_pack uart_rx_inst.sub_10_add_2_19_lut_LC_9_7_1 { uart_rx_inst.sub_10_add_2_19_lut, uart_rx_inst.sub_10_add_2_19 }
ble_pack uart_rx_inst.sub_10_add_2_20_lut_LC_9_7_2 { uart_rx_inst.sub_10_add_2_20_lut }
ble_pack uart_rx_inst.i1578_2_lut_LC_9_7_3 { uart_rx_inst.i1578_2_lut }
ble_pack uart_rx_inst.i1569_2_lut_LC_9_7_4 { uart_rx_inst.i1569_2_lut }
ble_pack uart_rx_inst.i1577_2_lut_LC_9_7_5 { uart_rx_inst.i1577_2_lut }
ble_pack uart_rx_inst.i1574_2_lut_LC_9_7_6 { uart_rx_inst.i1574_2_lut }
ble_pack uart_rx_inst.i1572_2_lut_LC_9_7_7 { uart_rx_inst.i1572_2_lut }
clb_pack LT_9_7 { uart_rx_inst.sub_10_add_2_18_lut_LC_9_7_0, uart_rx_inst.sub_10_add_2_19_lut_LC_9_7_1, uart_rx_inst.sub_10_add_2_20_lut_LC_9_7_2, uart_rx_inst.i1578_2_lut_LC_9_7_3, uart_rx_inst.i1569_2_lut_LC_9_7_4, uart_rx_inst.i1577_2_lut_LC_9_7_5, uart_rx_inst.i1574_2_lut_LC_9_7_6, uart_rx_inst.i1572_2_lut_LC_9_7_7 }
set_location LT_9_7 9 7
ble_pack uart_rx_inst.i1563_2_lut_LC_9_8_0 { uart_rx_inst.i1563_2_lut }
ble_pack uart_rx_inst.i1580_2_lut_LC_9_8_1 { uart_rx_inst.i1580_2_lut }
ble_pack uart_rx_inst.i1565_2_lut_LC_9_8_2 { uart_rx_inst.i1565_2_lut }
ble_pack uart_rx_inst.i1576_2_lut_LC_9_8_3 { uart_rx_inst.i1576_2_lut }
ble_pack uart_rx_inst.i1566_2_lut_LC_9_8_4 { uart_rx_inst.i1566_2_lut }
ble_pack uart_rx_inst.i1570_2_lut_LC_9_8_5 { uart_rx_inst.i1570_2_lut }
ble_pack uart_rx_inst.i1581_2_lut_LC_9_8_6 { uart_rx_inst.i1581_2_lut }
ble_pack uart_rx_inst.i1567_2_lut_LC_9_8_7 { uart_rx_inst.i1567_2_lut }
clb_pack LT_9_8 { uart_rx_inst.i1563_2_lut_LC_9_8_0, uart_rx_inst.i1580_2_lut_LC_9_8_1, uart_rx_inst.i1565_2_lut_LC_9_8_2, uart_rx_inst.i1576_2_lut_LC_9_8_3, uart_rx_inst.i1566_2_lut_LC_9_8_4, uart_rx_inst.i1570_2_lut_LC_9_8_5, uart_rx_inst.i1581_2_lut_LC_9_8_6, uart_rx_inst.i1567_2_lut_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack uart_rx_inst.data_reg__i2_LC_9_9_0 { i1082_4_lut, uart_rx_inst.data_reg__i2 }
ble_pack uart_rx_inst.data_reg__i5_LC_9_9_1 { i1073_4_lut, uart_rx_inst.data_reg__i5 }
ble_pack uart_rx_inst.data_reg__i3_LC_9_9_2 { i1079_4_lut, uart_rx_inst.data_reg__i3 }
ble_pack uart_rx_inst.data_reg__i1_LC_9_9_5 { i1085_4_lut, uart_rx_inst.data_reg__i1 }
ble_pack uart_rx_inst.data_reg__i6_LC_9_9_6 { i1070_4_lut, uart_rx_inst.data_reg__i6 }
ble_pack uart_rx_inst.data_reg__i4_LC_9_9_7 { i1076_4_lut, uart_rx_inst.data_reg__i4 }
clb_pack LT_9_9 { uart_rx_inst.data_reg__i2_LC_9_9_0, uart_rx_inst.data_reg__i5_LC_9_9_1, uart_rx_inst.data_reg__i3_LC_9_9_2, uart_rx_inst.data_reg__i1_LC_9_9_5, uart_rx_inst.data_reg__i6_LC_9_9_6, uart_rx_inst.data_reg__i4_LC_9_9_7 }
set_location LT_9_9 9 9
ble_pack uart_rx_inst.frame_error_reg_88_LC_9_10_3 { uart_rx_inst.rxd_reg_I_0_1_lut, uart_rx_inst.frame_error_reg_88 }
clb_pack LT_9_10 { uart_rx_inst.frame_error_reg_88_LC_9_10_3 }
set_location LT_9_10 9 10
ble_pack uart_rx_inst.output_axis_tdata_reg__i7_LC_9_12_1 { uart_rx_inst.output_axis_tdata_reg__i7_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i7 }
ble_pack uart_rx_inst.output_axis_tdata_reg__i3_LC_9_12_2 { uart_rx_inst.output_axis_tdata_reg__i3_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i3 }
ble_pack uart_rx_inst.output_axis_tdata_reg__i8_LC_9_12_3 { uart_rx_inst.output_axis_tdata_reg__i8_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i8 }
ble_pack uart_rx_inst.output_axis_tdata_reg__i5_LC_9_12_4 { uart_rx_inst.output_axis_tdata_reg__i5_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i5 }
ble_pack uart_rx_inst.output_axis_tdata_reg__i6_LC_9_12_5 { uart_rx_inst.output_axis_tdata_reg__i6_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i6 }
clb_pack LT_9_12 { uart_rx_inst.output_axis_tdata_reg__i7_LC_9_12_1, uart_rx_inst.output_axis_tdata_reg__i3_LC_9_12_2, uart_rx_inst.output_axis_tdata_reg__i8_LC_9_12_3, uart_rx_inst.output_axis_tdata_reg__i5_LC_9_12_4, uart_rx_inst.output_axis_tdata_reg__i6_LC_9_12_5 }
set_location LT_9_12 9 12
ble_pack uart_rx_inst.output_axis_tdata_reg__i2_LC_9_13_3 { uart_rx_inst.output_axis_tdata_reg__i2_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i2 }
ble_pack uart_rx_inst.output_axis_tdata_reg__i4_LC_9_13_7 { uart_rx_inst.output_axis_tdata_reg__i4_THRU_LUT4_0, uart_rx_inst.output_axis_tdata_reg__i4 }
clb_pack LT_9_13 { uart_rx_inst.output_axis_tdata_reg__i2_LC_9_13_3, uart_rx_inst.output_axis_tdata_reg__i4_LC_9_13_7 }
set_location LT_9_13 9 13
ble_pack uart_tx_inst.i777_3_lut_LC_11_1_0 { uart_tx_inst.i777_3_lut }
ble_pack uart_tx_inst.prescale_reg__i12_LC_11_1_1 { uart_tx_inst.i779_3_lut_4_lut, uart_tx_inst.prescale_reg__i12 }
ble_pack uart_tx_inst.i762_3_lut_LC_11_1_2 { uart_tx_inst.i762_3_lut }
ble_pack uart_tx_inst.prescale_reg__i9_LC_11_1_3 { uart_tx_inst.i764_3_lut_4_lut, uart_tx_inst.prescale_reg__i9 }
ble_pack uart_tx_inst.i14_4_lut_LC_11_1_4 { uart_tx_inst.i14_4_lut }
ble_pack uart_tx_inst.i732_3_lut_LC_11_1_5 { uart_tx_inst.i732_3_lut }
ble_pack uart_tx_inst.prescale_reg__i3_LC_11_1_6 { uart_tx_inst.i734_3_lut_4_lut, uart_tx_inst.prescale_reg__i3 }
ble_pack uart_tx_inst.i1524_3_lut_4_lut_LC_11_1_7 { uart_tx_inst.i1524_3_lut_4_lut }
clb_pack LT_11_1 { uart_tx_inst.i777_3_lut_LC_11_1_0, uart_tx_inst.prescale_reg__i12_LC_11_1_1, uart_tx_inst.i762_3_lut_LC_11_1_2, uart_tx_inst.prescale_reg__i9_LC_11_1_3, uart_tx_inst.i14_4_lut_LC_11_1_4, uart_tx_inst.i732_3_lut_LC_11_1_5, uart_tx_inst.prescale_reg__i3_LC_11_1_6, uart_tx_inst.i1524_3_lut_4_lut_LC_11_1_7 }
set_location LT_11_1 11 1
ble_pack uart_tx_inst.prescale_reg__i0_LC_11_2_0 { uart_tx_inst.sub_5_add_2_2_lut, uart_tx_inst.prescale_reg__i0, uart_tx_inst.sub_5_add_2_2 }
ble_pack uart_tx_inst.prescale_reg__i1_LC_11_2_1 { uart_tx_inst.sub_5_add_2_3_lut, uart_tx_inst.prescale_reg__i1, uart_tx_inst.sub_5_add_2_3 }
ble_pack uart_tx_inst.prescale_reg__i2_LC_11_2_2 { uart_tx_inst.sub_5_add_2_4_lut, uart_tx_inst.prescale_reg__i2, uart_tx_inst.sub_5_add_2_4 }
ble_pack uart_tx_inst.sub_5_add_2_5_lut_LC_11_2_3 { uart_tx_inst.sub_5_add_2_5_lut, uart_tx_inst.sub_5_add_2_5 }
ble_pack uart_tx_inst.sub_5_add_2_6_lut_LC_11_2_4 { uart_tx_inst.sub_5_add_2_6_lut, uart_tx_inst.sub_5_add_2_6 }
ble_pack uart_tx_inst.sub_5_add_2_7_lut_LC_11_2_5 { uart_tx_inst.sub_5_add_2_7_lut, uart_tx_inst.sub_5_add_2_7 }
ble_pack uart_tx_inst.sub_5_add_2_8_lut_LC_11_2_6 { uart_tx_inst.sub_5_add_2_8_lut, uart_tx_inst.sub_5_add_2_8 }
ble_pack uart_tx_inst.sub_5_add_2_9_lut_LC_11_2_7 { uart_tx_inst.sub_5_add_2_9_lut, uart_tx_inst.sub_5_add_2_9 }
clb_pack LT_11_2 { uart_tx_inst.prescale_reg__i0_LC_11_2_0, uart_tx_inst.prescale_reg__i1_LC_11_2_1, uart_tx_inst.prescale_reg__i2_LC_11_2_2, uart_tx_inst.sub_5_add_2_5_lut_LC_11_2_3, uart_tx_inst.sub_5_add_2_6_lut_LC_11_2_4, uart_tx_inst.sub_5_add_2_7_lut_LC_11_2_5, uart_tx_inst.sub_5_add_2_8_lut_LC_11_2_6, uart_tx_inst.sub_5_add_2_9_lut_LC_11_2_7 }
set_location LT_11_2 11 2
ble_pack uart_tx_inst.sub_5_add_2_10_lut_LC_11_3_0 { uart_tx_inst.sub_5_add_2_10_lut, uart_tx_inst.sub_5_add_2_10 }
ble_pack uart_tx_inst.sub_5_add_2_11_lut_LC_11_3_1 { uart_tx_inst.sub_5_add_2_11_lut, uart_tx_inst.sub_5_add_2_11 }
ble_pack uart_tx_inst.sub_5_add_2_12_lut_LC_11_3_2 { uart_tx_inst.sub_5_add_2_12_lut, uart_tx_inst.sub_5_add_2_12 }
ble_pack uart_tx_inst.sub_5_add_2_13_lut_LC_11_3_3 { uart_tx_inst.sub_5_add_2_13_lut, uart_tx_inst.sub_5_add_2_13 }
ble_pack uart_tx_inst.sub_5_add_2_14_lut_LC_11_3_4 { uart_tx_inst.sub_5_add_2_14_lut, uart_tx_inst.sub_5_add_2_14 }
ble_pack uart_tx_inst.sub_5_add_2_15_lut_LC_11_3_5 { uart_tx_inst.sub_5_add_2_15_lut, uart_tx_inst.sub_5_add_2_15 }
ble_pack uart_tx_inst.sub_5_add_2_16_lut_LC_11_3_6 { uart_tx_inst.sub_5_add_2_16_lut, uart_tx_inst.sub_5_add_2_16 }
ble_pack uart_tx_inst.sub_5_add_2_17_lut_LC_11_3_7 { uart_tx_inst.sub_5_add_2_17_lut, uart_tx_inst.sub_5_add_2_17 }
clb_pack LT_11_3 { uart_tx_inst.sub_5_add_2_10_lut_LC_11_3_0, uart_tx_inst.sub_5_add_2_11_lut_LC_11_3_1, uart_tx_inst.sub_5_add_2_12_lut_LC_11_3_2, uart_tx_inst.sub_5_add_2_13_lut_LC_11_3_3, uart_tx_inst.sub_5_add_2_14_lut_LC_11_3_4, uart_tx_inst.sub_5_add_2_15_lut_LC_11_3_5, uart_tx_inst.sub_5_add_2_16_lut_LC_11_3_6, uart_tx_inst.sub_5_add_2_17_lut_LC_11_3_7 }
set_location LT_11_3 11 3
ble_pack uart_tx_inst.sub_5_add_2_18_lut_LC_11_4_0 { uart_tx_inst.sub_5_add_2_18_lut, uart_tx_inst.sub_5_add_2_18 }
ble_pack uart_tx_inst.sub_5_add_2_19_lut_LC_11_4_1 { uart_tx_inst.sub_5_add_2_19_lut, uart_tx_inst.sub_5_add_2_19 }
ble_pack uart_tx_inst.sub_5_add_2_20_lut_LC_11_4_2 { uart_tx_inst.sub_5_add_2_20_lut }
clb_pack LT_11_4 { uart_tx_inst.sub_5_add_2_18_lut_LC_11_4_0, uart_tx_inst.sub_5_add_2_19_lut_LC_11_4_1, uart_tx_inst.sub_5_add_2_20_lut_LC_11_4_2 }
set_location LT_11_4 11 4
ble_pack uart_rx_inst.add_144_2_lut_LC_11_5_0 { uart_rx_inst.add_144_2_lut, uart_rx_inst.add_144_2 }
ble_pack uart_rx_inst.add_144_3_lut_LC_11_5_1 { uart_rx_inst.add_144_3_lut, uart_rx_inst.add_144_3 }
ble_pack uart_rx_inst.add_144_4_lut_LC_11_5_2 { uart_rx_inst.add_144_4_lut, uart_rx_inst.add_144_4 }
ble_pack uart_rx_inst.add_144_5_lut_LC_11_5_3 { uart_rx_inst.add_144_5_lut, uart_rx_inst.add_144_5 }
ble_pack uart_rx_inst.add_144_6_lut_LC_11_5_4 { uart_rx_inst.add_144_6_lut, uart_rx_inst.add_144_6 }
ble_pack uart_rx_inst.add_144_7_lut_LC_11_5_5 { uart_rx_inst.add_144_7_lut, uart_rx_inst.add_144_7 }
ble_pack uart_rx_inst.add_144_8_lut_LC_11_5_6 { uart_rx_inst.add_144_8_lut, uart_rx_inst.add_144_8 }
ble_pack uart_rx_inst.add_144_9_lut_LC_11_5_7 { uart_rx_inst.add_144_9_lut, uart_rx_inst.add_144_9 }
clb_pack LT_11_5 { uart_rx_inst.add_144_2_lut_LC_11_5_0, uart_rx_inst.add_144_3_lut_LC_11_5_1, uart_rx_inst.add_144_4_lut_LC_11_5_2, uart_rx_inst.add_144_5_lut_LC_11_5_3, uart_rx_inst.add_144_6_lut_LC_11_5_4, uart_rx_inst.add_144_7_lut_LC_11_5_5, uart_rx_inst.add_144_8_lut_LC_11_5_6, uart_rx_inst.add_144_9_lut_LC_11_5_7 }
set_location LT_11_5 11 5
ble_pack uart_rx_inst.add_144_10_lut_LC_11_6_0 { uart_rx_inst.add_144_10_lut, uart_rx_inst.add_144_10 }
ble_pack uart_rx_inst.add_144_11_lut_LC_11_6_1 { uart_rx_inst.add_144_11_lut, uart_rx_inst.add_144_11 }
ble_pack uart_rx_inst.add_144_12_lut_LC_11_6_2 { uart_rx_inst.add_144_12_lut, uart_rx_inst.add_144_12 }
ble_pack uart_rx_inst.add_144_13_lut_LC_11_6_3 { uart_rx_inst.add_144_13_lut, uart_rx_inst.add_144_13 }
ble_pack uart_rx_inst.add_144_14_lut_LC_11_6_4 { uart_rx_inst.add_144_14_lut, uart_rx_inst.add_144_14 }
ble_pack uart_rx_inst.add_144_15_lut_LC_11_6_5 { uart_rx_inst.add_144_15_lut, uart_rx_inst.add_144_15 }
ble_pack uart_rx_inst.add_144_16_lut_LC_11_6_6 { uart_rx_inst.add_144_16_lut, uart_rx_inst.add_144_16 }
ble_pack uart_rx_inst.add_144_17_lut_LC_11_6_7 { uart_rx_inst.add_144_17_lut, uart_rx_inst.add_144_17 }
clb_pack LT_11_6 { uart_rx_inst.add_144_10_lut_LC_11_6_0, uart_rx_inst.add_144_11_lut_LC_11_6_1, uart_rx_inst.add_144_12_lut_LC_11_6_2, uart_rx_inst.add_144_13_lut_LC_11_6_3, uart_rx_inst.add_144_14_lut_LC_11_6_4, uart_rx_inst.add_144_15_lut_LC_11_6_5, uart_rx_inst.add_144_16_lut_LC_11_6_6, uart_rx_inst.add_144_17_lut_LC_11_6_7 }
set_location LT_11_6 11 6
ble_pack uart_rx_inst.add_144_18_lut_LC_11_7_0 { uart_rx_inst.add_144_18_lut }
clb_pack LT_11_7 { uart_rx_inst.add_144_18_lut_LC_11_7_0 }
set_location LT_11_7 11 7
ble_pack uart_rx_inst.i1573_2_lut_LC_11_8_1 { uart_rx_inst.i1573_2_lut }
clb_pack LT_11_8 { uart_rx_inst.i1573_2_lut_LC_11_8_1 }
set_location LT_11_8 11 8
ble_pack uart_tx_inst.i13_4_lut_LC_12_1_0 { uart_tx_inst.i13_4_lut }
ble_pack uart_tx_inst.i737_3_lut_LC_12_1_1 { uart_tx_inst.i737_3_lut }
ble_pack uart_tx_inst.prescale_reg__i4_LC_12_1_2 { uart_tx_inst.i739_3_lut_4_lut, uart_tx_inst.prescale_reg__i4 }
ble_pack uart_tx_inst.i742_3_lut_LC_12_1_4 { uart_tx_inst.i742_3_lut }
ble_pack uart_tx_inst.prescale_reg__i5_LC_12_1_5 { uart_tx_inst.i744_3_lut_4_lut, uart_tx_inst.prescale_reg__i5 }
ble_pack uart_tx_inst.i757_3_lut_LC_12_1_6 { uart_tx_inst.i757_3_lut }
ble_pack uart_tx_inst.prescale_reg__i8_LC_12_1_7 { uart_tx_inst.i759_3_lut_4_lut, uart_tx_inst.prescale_reg__i8 }
clb_pack LT_12_1 { uart_tx_inst.i13_4_lut_LC_12_1_0, uart_tx_inst.i737_3_lut_LC_12_1_1, uart_tx_inst.prescale_reg__i4_LC_12_1_2, uart_tx_inst.i742_3_lut_LC_12_1_4, uart_tx_inst.prescale_reg__i5_LC_12_1_5, uart_tx_inst.i757_3_lut_LC_12_1_6, uart_tx_inst.prescale_reg__i8_LC_12_1_7 }
set_location LT_12_1 12 1
ble_pack uart_tx_inst.data_reg_i0_i0_LC_12_2_0 { uart_tx_inst.mux_42_i1_3_lut_4_lut, uart_tx_inst.data_reg_i0_i0 }
ble_pack uart_tx_inst.data_reg_i0_i1_LC_12_2_1 { uart_tx_inst.mux_42_i2_3_lut_4_lut, uart_tx_inst.data_reg_i0_i1 }
ble_pack uart_tx_inst.data_reg_i0_i2_LC_12_2_2 { uart_tx_inst.mux_42_i3_3_lut_4_lut, uart_tx_inst.data_reg_i0_i2 }
ble_pack uart_tx_inst.data_reg_i0_i3_LC_12_2_3 { uart_tx_inst.mux_42_i4_3_lut_4_lut, uart_tx_inst.data_reg_i0_i3 }
ble_pack uart_tx_inst.data_reg_i0_i4_LC_12_2_4 { uart_tx_inst.mux_42_i5_3_lut_4_lut, uart_tx_inst.data_reg_i0_i4 }
ble_pack uart_tx_inst.data_reg_i0_i5_LC_12_2_5 { uart_tx_inst.mux_42_i6_3_lut_4_lut, uart_tx_inst.data_reg_i0_i5 }
ble_pack uart_tx_inst.data_reg_i0_i6_LC_12_2_6 { uart_tx_inst.mux_42_i7_3_lut_4_lut, uart_tx_inst.data_reg_i0_i6 }
ble_pack uart_tx_inst.data_reg_i0_i7_LC_12_2_7 { uart_tx_inst.mux_42_i8_3_lut_4_lut, uart_tx_inst.data_reg_i0_i7 }
clb_pack LT_12_2 { uart_tx_inst.data_reg_i0_i0_LC_12_2_0, uart_tx_inst.data_reg_i0_i1_LC_12_2_1, uart_tx_inst.data_reg_i0_i2_LC_12_2_2, uart_tx_inst.data_reg_i0_i3_LC_12_2_3, uart_tx_inst.data_reg_i0_i4_LC_12_2_4, uart_tx_inst.data_reg_i0_i5_LC_12_2_5, uart_tx_inst.data_reg_i0_i6_LC_12_2_6, uart_tx_inst.data_reg_i0_i7_LC_12_2_7 }
set_location LT_12_2 12 2
ble_pack uart_tx_inst.txd_reg_50_LC_12_3_0 { uart_tx_inst.i1342_3_lut, uart_tx_inst.txd_reg_50 }
clb_pack LT_12_3 { uart_tx_inst.txd_reg_50_LC_12_3_0 }
set_location LT_12_3 12 3
ble_pack uart_tx_inst.sub_8_add_2_2_lut_LC_12_5_0 { uart_tx_inst.sub_8_add_2_2_lut, uart_tx_inst.sub_8_add_2_2 }
ble_pack uart_tx_inst.sub_8_add_2_3_lut_LC_12_5_1 { uart_tx_inst.sub_8_add_2_3_lut, uart_tx_inst.sub_8_add_2_3 }
ble_pack uart_tx_inst.sub_8_add_2_4_lut_LC_12_5_2 { uart_tx_inst.sub_8_add_2_4_lut, uart_tx_inst.sub_8_add_2_4 }
ble_pack uart_tx_inst.sub_8_add_2_5_lut_LC_12_5_3 { uart_tx_inst.sub_8_add_2_5_lut, uart_tx_inst.sub_8_add_2_5 }
ble_pack uart_tx_inst.sub_8_add_2_6_lut_LC_12_5_4 { uart_tx_inst.sub_8_add_2_6_lut, uart_tx_inst.sub_8_add_2_6 }
ble_pack uart_tx_inst.sub_8_add_2_7_lut_LC_12_5_5 { uart_tx_inst.sub_8_add_2_7_lut, uart_tx_inst.sub_8_add_2_7 }
ble_pack uart_tx_inst.sub_8_add_2_8_lut_LC_12_5_6 { uart_tx_inst.sub_8_add_2_8_lut, uart_tx_inst.sub_8_add_2_8 }
ble_pack uart_tx_inst.sub_8_add_2_9_lut_LC_12_5_7 { uart_tx_inst.sub_8_add_2_9_lut, uart_tx_inst.sub_8_add_2_9 }
clb_pack LT_12_5 { uart_tx_inst.sub_8_add_2_2_lut_LC_12_5_0, uart_tx_inst.sub_8_add_2_3_lut_LC_12_5_1, uart_tx_inst.sub_8_add_2_4_lut_LC_12_5_2, uart_tx_inst.sub_8_add_2_5_lut_LC_12_5_3, uart_tx_inst.sub_8_add_2_6_lut_LC_12_5_4, uart_tx_inst.sub_8_add_2_7_lut_LC_12_5_5, uart_tx_inst.sub_8_add_2_8_lut_LC_12_5_6, uart_tx_inst.sub_8_add_2_9_lut_LC_12_5_7 }
set_location LT_12_5 12 5
ble_pack uart_tx_inst.sub_8_add_2_10_lut_LC_12_6_0 { uart_tx_inst.sub_8_add_2_10_lut, uart_tx_inst.sub_8_add_2_10 }
ble_pack uart_tx_inst.sub_8_add_2_11_lut_LC_12_6_1 { uart_tx_inst.sub_8_add_2_11_lut, uart_tx_inst.sub_8_add_2_11 }
ble_pack uart_tx_inst.sub_8_add_2_12_lut_LC_12_6_2 { uart_tx_inst.sub_8_add_2_12_lut, uart_tx_inst.sub_8_add_2_12 }
ble_pack uart_tx_inst.sub_8_add_2_13_lut_LC_12_6_3 { uart_tx_inst.sub_8_add_2_13_lut, uart_tx_inst.sub_8_add_2_13 }
ble_pack uart_tx_inst.sub_8_add_2_14_lut_LC_12_6_4 { uart_tx_inst.sub_8_add_2_14_lut, uart_tx_inst.sub_8_add_2_14 }
ble_pack uart_tx_inst.sub_8_add_2_15_lut_LC_12_6_5 { uart_tx_inst.sub_8_add_2_15_lut, uart_tx_inst.sub_8_add_2_15 }
ble_pack uart_tx_inst.sub_8_add_2_16_lut_LC_12_6_6 { uart_tx_inst.sub_8_add_2_16_lut, uart_tx_inst.sub_8_add_2_16 }
ble_pack uart_tx_inst.sub_8_add_2_17_lut_LC_12_6_7 { uart_tx_inst.sub_8_add_2_17_lut }
clb_pack LT_12_6 { uart_tx_inst.sub_8_add_2_10_lut_LC_12_6_0, uart_tx_inst.sub_8_add_2_11_lut_LC_12_6_1, uart_tx_inst.sub_8_add_2_12_lut_LC_12_6_2, uart_tx_inst.sub_8_add_2_13_lut_LC_12_6_3, uart_tx_inst.sub_8_add_2_14_lut_LC_12_6_4, uart_tx_inst.sub_8_add_2_15_lut_LC_12_6_5, uart_tx_inst.sub_8_add_2_16_lut_LC_12_6_6, uart_tx_inst.sub_8_add_2_17_lut_LC_12_6_7 }
set_location LT_12_6 12 6
set_io txd 105
set_io tx_busy 47
set_io rxd 106
set_io rx_overrun_error 44
set_io rx_frame_error 95
set_io rx_busy 45
set_io rst 62
set_io output_axis_tvalid 56
set_io output_axis_tready 48
set_io output_axis_tdata[7] 119
set_io output_axis_tdata[6] 118
set_io output_axis_tdata[5] 117
set_io output_axis_tdata[4] 116
set_io output_axis_tdata[3] 115
set_io output_axis_tdata[2] 114
set_io output_axis_tdata[1] 113
set_io output_axis_tdata[0] 112
set_io input_axis_tvalid 61
set_io input_axis_tready 60
set_io input_axis_tdata[7] 91
set_io input_axis_tdata[6] 90
set_io input_axis_tdata[5] 88
set_io input_axis_tdata[4] 87
set_io input_axis_tdata[3] 81
set_io input_axis_tdata[2] 80
set_io input_axis_tdata[1] 79
set_io input_axis_tdata[0] 78
set_io clk 21
