build {{ netlist_out }} {{ netlist_cleanup_output }}/log.txt: netlist_cleanup {{ netlist_in }} | third_party/gmt_tools/netlist_cleanup.py
    build_path = {{ netlist_cleanup_output }}
    netlist_in = {{ netlist_in }}
    netlist_out = {{ netlist_out }}
