rule vivado
    command = export tempjou=$$(mktemp); export templog=$$(mktemp); {{ vivado_path }} -mode batch -journal $$tempjou -log $$templog -source $in >&- && mv $$tempjou $journal && mv $$templog $log
    description = vivado $in

{{#in_context}}
rule vivado_ioparse
    command = python3 {{ utils }}/vivado_ioparse.py <$in >$out
    description = vivado_ioparse <$in >$out
    
{{/in_context}}
