rule vivado
    command = vivado -mode batch -journal $journal -log $log -source $in >&-
    description = vivado $in

{{#in_context}}
rule vivado_ioparse
    command = python3 {{ utils }}/vivado_ioparse.py <$in >$out
    description = vivado_ioparse <$in >$out
    
{{/in_context}}
