set_location i1067_4_lut 8 8 2 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i7_LC_0)
set_location uart_rx_inst.data_reg__i7 8 8 2 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i7_LC_0)
set_location i1070_4_lut 9 9 6 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i6_LC_1)
set_location uart_rx_inst.data_reg__i6 9 9 6 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i6_LC_1)
set_location i1073_4_lut 9 9 1 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i5_LC_2)
set_location uart_rx_inst.data_reg__i5 9 9 1 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i5_LC_2)
set_location i1076_4_lut 9 9 7 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i4_LC_3)
set_location uart_rx_inst.data_reg__i4 9 9 7 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i4_LC_3)
set_location i1079_4_lut 9 9 2 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i3_LC_4)
set_location uart_rx_inst.data_reg__i3 9 9 2 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i3_LC_4)
set_location i1082_4_lut 9 9 0 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i2_LC_5)
set_location uart_rx_inst.data_reg__i2 9 9 0 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i2_LC_5)
set_location i1085_4_lut 9 9 5 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i1_LC_6)
set_location uart_rx_inst.data_reg__i1 9 9 5 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i1_LC_6)
set_location i1088_4_lut 7 2 5 # SB_LUT4 (LogicCell: uart_tx_inst.bit_cnt__i2_LC_7)
set_location uart_tx_inst.bit_cnt__i2 7 2 5 # SB_DFF (LogicCell: uart_tx_inst.bit_cnt__i2_LC_7)
set_location i1091_4_lut 8 10 6 # SB_LUT4 (LogicCell: uart_rx_inst.data_reg__i0_LC_8)
set_location uart_rx_inst.data_reg__i0 8 10 6 # SB_DFF (LogicCell: uart_rx_inst.data_reg__i0_LC_8)
set_location i1094_3_lut 7 8 2 # SB_LUT4 (LogicCell: uart_rx_inst.bit_cnt__i0_LC_9)
set_location uart_rx_inst.bit_cnt__i0 7 8 2 # SB_DFF (LogicCell: uart_rx_inst.bit_cnt__i0_LC_9)
set_location i1_2_lut 8 12 4 # SB_LUT4 (LogicCell: i1_2_lut_LC_10)
set_location i1_3_lut 7 8 0 # SB_LUT4 (LogicCell: i1_3_lut_LC_11)
set_location i1_4_lut 7 2 1 # SB_LUT4 (LogicCell: i1_4_lut_LC_12)
set_location uart_rx_inst.add_144_10_lut 11 6 0 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_10_lut_LC_13)
set_location uart_rx_inst.add_144_10 11 6 0 # SB_CARRY (LogicCell: uart_rx_inst.add_144_10_lut_LC_13)
set_location uart_rx_inst.add_144_11_lut 11 6 1 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_11_lut_LC_14)
set_location uart_rx_inst.add_144_11 11 6 1 # SB_CARRY (LogicCell: uart_rx_inst.add_144_11_lut_LC_14)
set_location uart_rx_inst.add_144_12_lut 11 6 2 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_12_lut_LC_15)
set_location uart_rx_inst.add_144_12 11 6 2 # SB_CARRY (LogicCell: uart_rx_inst.add_144_12_lut_LC_15)
set_location uart_rx_inst.add_144_13_lut 11 6 3 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_13_lut_LC_16)
set_location uart_rx_inst.add_144_13 11 6 3 # SB_CARRY (LogicCell: uart_rx_inst.add_144_13_lut_LC_16)
set_location uart_rx_inst.add_144_14_lut 11 6 4 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_14_lut_LC_17)
set_location uart_rx_inst.add_144_14 11 6 4 # SB_CARRY (LogicCell: uart_rx_inst.add_144_14_lut_LC_17)
set_location uart_rx_inst.add_144_15_lut 11 6 5 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_15_lut_LC_18)
set_location uart_rx_inst.add_144_15 11 6 5 # SB_CARRY (LogicCell: uart_rx_inst.add_144_15_lut_LC_18)
set_location uart_rx_inst.add_144_16_lut 11 6 6 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_16_lut_LC_19)
set_location uart_rx_inst.add_144_16 11 6 6 # SB_CARRY (LogicCell: uart_rx_inst.add_144_16_lut_LC_19)
set_location uart_rx_inst.add_144_17_lut 11 6 7 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_17_lut_LC_20)
set_location uart_rx_inst.add_144_17 11 6 7 # SB_CARRY (LogicCell: uart_rx_inst.add_144_17_lut_LC_20)
set_location uart_rx_inst.add_144_18_lut 11 7 0 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_18_lut_LC_21)
set_location uart_rx_inst.add_144_2_lut 11 5 0 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_2_lut_LC_22)
set_location uart_rx_inst.add_144_2 11 5 0 # SB_CARRY (LogicCell: uart_rx_inst.add_144_2_lut_LC_22)
set_location uart_rx_inst.add_144_3_lut 11 5 1 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_3_lut_LC_23)
set_location uart_rx_inst.add_144_3 11 5 1 # SB_CARRY (LogicCell: uart_rx_inst.add_144_3_lut_LC_23)
set_location uart_rx_inst.add_144_4_lut 11 5 2 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_4_lut_LC_24)
set_location uart_rx_inst.add_144_4 11 5 2 # SB_CARRY (LogicCell: uart_rx_inst.add_144_4_lut_LC_24)
set_location uart_rx_inst.add_144_5_lut 11 5 3 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_5_lut_LC_25)
set_location uart_rx_inst.add_144_5 11 5 3 # SB_CARRY (LogicCell: uart_rx_inst.add_144_5_lut_LC_25)
set_location uart_rx_inst.add_144_6_lut 11 5 4 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_6_lut_LC_26)
set_location uart_rx_inst.add_144_6 11 5 4 # SB_CARRY (LogicCell: uart_rx_inst.add_144_6_lut_LC_26)
set_location uart_rx_inst.add_144_7_lut 11 5 5 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_7_lut_LC_27)
set_location uart_rx_inst.add_144_7 11 5 5 # SB_CARRY (LogicCell: uart_rx_inst.add_144_7_lut_LC_27)
set_location uart_rx_inst.add_144_8_lut 11 5 6 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_8_lut_LC_28)
set_location uart_rx_inst.add_144_8 11 5 6 # SB_CARRY (LogicCell: uart_rx_inst.add_144_8_lut_LC_28)
set_location uart_rx_inst.add_144_9_lut 11 5 7 # SB_LUT4 (LogicCell: uart_rx_inst.add_144_9_lut_LC_29)
set_location uart_rx_inst.add_144_9 11 5 7 # SB_CARRY (LogicCell: uart_rx_inst.add_144_9_lut_LC_29)
set_location uart_rx_inst.i1011_2_lut_4_lut 7 5 7 # SB_LUT4 (LogicCell: uart_rx_inst.i1011_2_lut_4_lut_LC_30)
set_location uart_rx_inst.i1037_4_lut 7 8 1 # SB_LUT4 (LogicCell: uart_rx_inst.i1037_4_lut_LC_31)
set_location uart_rx_inst.i11_4_lut 8 6 2 # SB_LUT4 (LogicCell: uart_rx_inst.i11_4_lut_LC_32)
set_location uart_rx_inst.i12_4_lut 8 7 0 # SB_LUT4 (LogicCell: uart_rx_inst.i12_4_lut_LC_33)
set_location uart_rx_inst.i1340_3_lut 8 8 5 # SB_LUT4 (LogicCell: uart_rx_inst.i1340_3_lut_LC_34)
set_location uart_rx_inst.i1351_2_lut_3_lut 8 6 0 # SB_LUT4 (LogicCell: uart_rx_inst.i1351_2_lut_3_lut_LC_35)
set_location uart_rx_inst.i1374_2_lut 8 8 6 # SB_LUT4 (LogicCell: uart_rx_inst.i1374_2_lut_LC_36)
set_location uart_rx_inst.i1376_3_lut 8 4 3 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tvalid_reg_82_LC_37)
set_location uart_rx_inst.output_axis_tvalid_reg_82 8 4 3 # SB_DFFSR (LogicCell: uart_rx_inst.output_axis_tvalid_reg_82_LC_37)
set_location uart_rx_inst.i1378_2_lut 8 7 5 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i1_LC_38)
set_location uart_rx_inst.prescale_reg__i1 8 7 5 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i1_LC_38)
set_location uart_rx_inst.i1384_3_lut_4_lut 8 8 1 # SB_LUT4 (LogicCell: uart_rx_inst.i1384_3_lut_4_lut_LC_39)
set_location uart_rx_inst.i13_4_lut 8 6 4 # SB_LUT4 (LogicCell: uart_rx_inst.i13_4_lut_LC_40)
set_location uart_rx_inst.i149_3_lut 8 8 4 # SB_LUT4 (LogicCell: uart_rx_inst.i149_3_lut_LC_41)
set_location uart_rx_inst.i14_4_lut 8 7 6 # SB_LUT4 (LogicCell: uart_rx_inst.i14_4_lut_LC_42)
set_location uart_rx_inst.i1516_4_lut 8 8 0 # SB_LUT4 (LogicCell: uart_rx_inst.i1516_4_lut_LC_43)
set_location uart_rx_inst.i1563_2_lut 9 8 0 # SB_LUT4 (LogicCell: uart_rx_inst.i1563_2_lut_LC_44)
set_location uart_rx_inst.i1565_2_lut 9 8 2 # SB_LUT4 (LogicCell: uart_rx_inst.i1565_2_lut_LC_45)
set_location uart_rx_inst.i1566_2_lut 9 8 4 # SB_LUT4 (LogicCell: uart_rx_inst.i1566_2_lut_LC_46)
set_location uart_rx_inst.i1567_2_lut 9 8 7 # SB_LUT4 (LogicCell: uart_rx_inst.i1567_2_lut_LC_47)
set_location uart_rx_inst.i1568_2_lut 7 7 4 # SB_LUT4 (LogicCell: uart_rx_inst.i1568_2_lut_LC_48)
set_location uart_rx_inst.i1569_2_lut 9 7 4 # SB_LUT4 (LogicCell: uart_rx_inst.i1569_2_lut_LC_49)
set_location uart_rx_inst.i1570_2_lut 9 8 5 # SB_LUT4 (LogicCell: uart_rx_inst.i1570_2_lut_LC_50)
set_location uart_rx_inst.i1571_2_lut 7 7 7 # SB_LUT4 (LogicCell: uart_rx_inst.i1571_2_lut_LC_51)
set_location uart_rx_inst.i1572_2_lut 9 7 7 # SB_LUT4 (LogicCell: uart_rx_inst.i1572_2_lut_LC_52)
set_location uart_rx_inst.i1573_2_lut 11 8 1 # SB_LUT4 (LogicCell: uart_rx_inst.i1573_2_lut_LC_53)
set_location uart_rx_inst.i1574_2_lut 9 7 6 # SB_LUT4 (LogicCell: uart_rx_inst.i1574_2_lut_LC_54)
set_location uart_rx_inst.i1576_2_lut 9 8 3 # SB_LUT4 (LogicCell: uart_rx_inst.i1576_2_lut_LC_55)
set_location uart_rx_inst.i1577_2_lut 9 7 5 # SB_LUT4 (LogicCell: uart_rx_inst.i1577_2_lut_LC_56)
set_location uart_rx_inst.i1578_2_lut 9 7 3 # SB_LUT4 (LogicCell: uart_rx_inst.i1578_2_lut_LC_57)
set_location uart_rx_inst.i1580_2_lut 9 8 1 # SB_LUT4 (LogicCell: uart_rx_inst.i1580_2_lut_LC_58)
set_location uart_rx_inst.i1581_2_lut 9 8 6 # SB_LUT4 (LogicCell: uart_rx_inst.i1581_2_lut_LC_59)
set_location uart_rx_inst.i1585_4_lut 7 5 6 # SB_LUT4 (LogicCell: uart_rx_inst.i1585_4_lut_LC_60)
set_location uart_rx_inst.i1587_2_lut 8 3 0 # SB_LUT4 (LogicCell: uart_rx_inst.i1587_2_lut_LC_61)
set_location uart_rx_inst.i1596_4_lut_4_lut 7 6 3 # SB_LUT4 (LogicCell: uart_rx_inst.i1596_4_lut_4_lut_LC_62)
set_location uart_rx_inst.i15_4_lut 8 6 3 # SB_LUT4 (LogicCell: uart_rx_inst.i15_4_lut_LC_63)
set_location uart_rx_inst.i18_4_lut 8 6 5 # SB_LUT4 (LogicCell: uart_rx_inst.i18_4_lut_LC_64)
set_location uart_rx_inst.i1_2_lut 7 9 2 # SB_LUT4 (LogicCell: uart_rx_inst.i1_2_lut_LC_65)
set_location uart_rx_inst.i1_2_lut_3_lut 8 9 0 # SB_LUT4 (LogicCell: uart_rx_inst.bit_cnt__i2_LC_66)
set_location uart_rx_inst.bit_cnt__i2 8 9 0 # SB_DFFESR (LogicCell: uart_rx_inst.bit_cnt__i2_LC_66)
set_location uart_rx_inst.i1_2_lut_adj_23 7 8 6 # SB_LUT4 (LogicCell: uart_rx_inst.i1_2_lut_adj_23_LC_67)
set_location uart_rx_inst.i1_3_lut_4_lut 7 9 0 # SB_LUT4 (LogicCell: uart_rx_inst.i1_3_lut_4_lut_LC_68)
set_location uart_rx_inst.i1_4_lut_4_lut 7 8 3 # SB_LUT4 (LogicCell: uart_rx_inst.i1_4_lut_4_lut_LC_69)
set_location uart_rx_inst.i208_2_lut_3_lut 8 8 3 # SB_LUT4 (LogicCell: uart_rx_inst.i208_2_lut_3_lut_LC_70)
set_location uart_rx_inst.i209_2_lut_3_lut 7 9 6 # SB_LUT4 (LogicCell: uart_rx_inst.i209_2_lut_3_lut_LC_71)
set_location uart_rx_inst.i2_3_lut 8 11 6 # SB_LUT4 (LogicCell: uart_rx_inst.i2_3_lut_LC_72)
set_location uart_rx_inst.i2_3_lut_adj_22 7 8 5 # SB_LUT4 (LogicCell: uart_rx_inst.i2_3_lut_adj_22_LC_73)
set_location uart_rx_inst.i2_4_lut 8 10 2 # SB_LUT4 (LogicCell: uart_rx_inst.i2_4_lut_LC_74)
set_location uart_rx_inst.i362_3_lut_4_lut 8 6 6 # SB_LUT4 (LogicCell: uart_rx_inst.i362_3_lut_4_lut_LC_75)
set_location uart_rx_inst.i584_1_lut 8 6 7 # SB_LUT4 (LogicCell: uart_rx_inst.i584_1_lut_LC_76)
set_location uart_rx_inst.i603_3_lut 8 5 1 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i18_LC_77)
set_location uart_rx_inst.prescale_reg__i18 8 5 1 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i18_LC_77)
set_location uart_rx_inst.i613_3_lut 8 7 3 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i17_LC_78)
set_location uart_rx_inst.prescale_reg__i17 8 7 3 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i17_LC_78)
set_location uart_rx_inst.i618_3_lut 8 7 4 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i16_LC_79)
set_location uart_rx_inst.prescale_reg__i16 8 7 4 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i16_LC_79)
set_location uart_rx_inst.i623_3_lut 8 7 2 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i15_LC_80)
set_location uart_rx_inst.prescale_reg__i15 8 7 2 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i15_LC_80)
set_location uart_rx_inst.i628_3_lut 8 5 2 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i14_LC_81)
set_location uart_rx_inst.prescale_reg__i14 8 5 2 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i14_LC_81)
set_location uart_rx_inst.i633_3_lut 8 7 1 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i13_LC_82)
set_location uart_rx_inst.prescale_reg__i13 8 7 1 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i13_LC_82)
set_location uart_rx_inst.i638_3_lut 8 7 7 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i12_LC_83)
set_location uart_rx_inst.prescale_reg__i12 8 7 7 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i12_LC_83)
set_location uart_rx_inst.i643_3_lut 8 5 3 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i11_LC_84)
set_location uart_rx_inst.prescale_reg__i11 8 5 3 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i11_LC_84)
set_location uart_rx_inst.i648_3_lut 8 5 4 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i10_LC_85)
set_location uart_rx_inst.prescale_reg__i10 8 5 4 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i10_LC_85)
set_location uart_rx_inst.i653_3_lut 8 5 5 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i9_LC_86)
set_location uart_rx_inst.prescale_reg__i9 8 5 5 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i9_LC_86)
set_location uart_rx_inst.i658_3_lut 7 5 3 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i8_LC_87)
set_location uart_rx_inst.prescale_reg__i8 7 5 3 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i8_LC_87)
set_location uart_rx_inst.i663_3_lut 8 5 6 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i7_LC_88)
set_location uart_rx_inst.prescale_reg__i7 8 5 6 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i7_LC_88)
set_location uart_rx_inst.i668_3_lut 8 5 7 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i6_LC_89)
set_location uart_rx_inst.prescale_reg__i6 8 5 7 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i6_LC_89)
set_location uart_rx_inst.i673_3_lut 7 5 1 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i5_LC_90)
set_location uart_rx_inst.prescale_reg__i5 7 5 1 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i5_LC_90)
set_location uart_rx_inst.i678_3_lut 7 5 2 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i4_LC_91)
set_location uart_rx_inst.prescale_reg__i4 7 5 2 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i4_LC_91)
set_location uart_rx_inst.i683_3_lut 8 5 0 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i3_LC_92)
set_location uart_rx_inst.prescale_reg__i3 8 5 0 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i3_LC_92)
set_location uart_rx_inst.i688_3_lut 7 7 1 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i2_LC_93)
set_location uart_rx_inst.prescale_reg__i2 7 7 1 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i2_LC_93)
set_location uart_rx_inst.i78_2_lut 8 8 7 # SB_LUT4 (LogicCell: uart_rx_inst.i78_2_lut_LC_94)
set_location uart_rx_inst.i854_2_lut 7 6 6 # SB_LUT4 (LogicCell: uart_rx_inst.i854_2_lut_LC_95)
set_location uart_rx_inst.mux_46_i2_4_lut 7 9 3 # SB_LUT4 (LogicCell: uart_rx_inst.bit_cnt__i1_LC_96)
set_location uart_rx_inst.bit_cnt__i1 7 9 3 # SB_DFFESR (LogicCell: uart_rx_inst.bit_cnt__i1_LC_96)
set_location uart_rx_inst.mux_46_i4_4_lut 7 9 1 # SB_LUT4 (LogicCell: uart_rx_inst.bit_cnt__i3_LC_97)
set_location uart_rx_inst.bit_cnt__i3 7 9 1 # SB_DFFESR (LogicCell: uart_rx_inst.bit_cnt__i3_LC_97)
set_location uart_rx_inst.rxd_reg_I_0_1_lut 9 10 3 # SB_LUT4 (LogicCell: uart_rx_inst.frame_error_reg_88_LC_98)
set_location uart_rx_inst.frame_error_reg_88 9 10 3 # SB_DFFSR (LogicCell: uart_rx_inst.frame_error_reg_88_LC_98)
set_location uart_rx_inst.sub_10_add_2_10_lut 9 6 0 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_10_lut_LC_99)
set_location uart_rx_inst.sub_10_add_2_10 9 6 0 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_10_lut_LC_99)
set_location uart_rx_inst.sub_10_add_2_11_lut 9 6 1 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_11_lut_LC_100)
set_location uart_rx_inst.sub_10_add_2_11 9 6 1 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_11_lut_LC_100)
set_location uart_rx_inst.sub_10_add_2_12_lut 9 6 2 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_12_lut_LC_101)
set_location uart_rx_inst.sub_10_add_2_12 9 6 2 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_12_lut_LC_101)
set_location uart_rx_inst.sub_10_add_2_13_lut 9 6 3 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_13_lut_LC_102)
set_location uart_rx_inst.sub_10_add_2_13 9 6 3 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_13_lut_LC_102)
set_location uart_rx_inst.sub_10_add_2_14_lut 9 6 4 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_14_lut_LC_103)
set_location uart_rx_inst.sub_10_add_2_14 9 6 4 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_14_lut_LC_103)
set_location uart_rx_inst.sub_10_add_2_15_lut 9 6 5 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_15_lut_LC_104)
set_location uart_rx_inst.sub_10_add_2_15 9 6 5 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_15_lut_LC_104)
set_location uart_rx_inst.sub_10_add_2_16_lut 9 6 6 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_16_lut_LC_105)
set_location uart_rx_inst.sub_10_add_2_16 9 6 6 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_16_lut_LC_105)
set_location uart_rx_inst.sub_10_add_2_17_lut 9 6 7 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_17_lut_LC_106)
set_location uart_rx_inst.sub_10_add_2_17 9 6 7 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_17_lut_LC_106)
set_location uart_rx_inst.sub_10_add_2_18_lut 9 7 0 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_18_lut_LC_107)
set_location uart_rx_inst.sub_10_add_2_18 9 7 0 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_18_lut_LC_107)
set_location uart_rx_inst.sub_10_add_2_19_lut 9 7 1 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_19_lut_LC_108)
set_location uart_rx_inst.sub_10_add_2_19 9 7 1 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_19_lut_LC_108)
set_location uart_rx_inst.sub_10_add_2_20_lut 9 7 2 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_20_lut_LC_109)
set_location uart_rx_inst.sub_10_add_2_2_lut 9 5 0 # SB_LUT4 (LogicCell: uart_rx_inst.prescale_reg__i0_LC_110)
set_location uart_rx_inst.prescale_reg__i0 9 5 0 # SB_DFFESR (LogicCell: uart_rx_inst.prescale_reg__i0_LC_110)
set_location uart_rx_inst.sub_10_add_2_2 9 5 0 # SB_CARRY (LogicCell: uart_rx_inst.prescale_reg__i0_LC_110)
set_location uart_rx_inst.sub_10_add_2_3_lut 9 5 1 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_3_lut_LC_111)
set_location uart_rx_inst.sub_10_add_2_3 9 5 1 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_3_lut_LC_111)
set_location uart_rx_inst.sub_10_add_2_4_lut 9 5 2 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_4_lut_LC_112)
set_location uart_rx_inst.sub_10_add_2_4 9 5 2 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_4_lut_LC_112)
set_location uart_rx_inst.sub_10_add_2_5_lut 9 5 3 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_5_lut_LC_113)
set_location uart_rx_inst.sub_10_add_2_5 9 5 3 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_5_lut_LC_113)
set_location uart_rx_inst.sub_10_add_2_6_lut 9 5 4 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_6_lut_LC_114)
set_location uart_rx_inst.sub_10_add_2_6 9 5 4 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_6_lut_LC_114)
set_location uart_rx_inst.sub_10_add_2_7_lut 9 5 5 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_7_lut_LC_115)
set_location uart_rx_inst.sub_10_add_2_7 9 5 5 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_7_lut_LC_115)
set_location uart_rx_inst.sub_10_add_2_8_lut 9 5 6 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_8_lut_LC_116)
set_location uart_rx_inst.sub_10_add_2_8 9 5 6 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_8_lut_LC_116)
set_location uart_rx_inst.sub_10_add_2_9_lut 9 5 7 # SB_LUT4 (LogicCell: uart_rx_inst.sub_10_add_2_9_lut_LC_117)
set_location uart_rx_inst.sub_10_add_2_9 9 5 7 # SB_CARRY (LogicCell: uart_rx_inst.sub_10_add_2_9_lut_LC_117)
set_location uart_tx_inst.i1035_4_lut 7 2 2 # SB_LUT4 (LogicCell: uart_tx_inst.i1035_4_lut_LC_118)
set_location uart_tx_inst.i1064_3_lut_4_lut 8 2 1 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i8_LC_119)
set_location uart_tx_inst.data_reg_i0_i8 8 2 1 # SB_DFF (LogicCell: uart_tx_inst.data_reg_i0_i8_LC_119)
set_location uart_tx_inst.i11_4_lut 8 1 3 # SB_LUT4 (LogicCell: uart_tx_inst.i11_4_lut_LC_120)
set_location uart_tx_inst.i12_4_lut 9 1 6 # SB_LUT4 (LogicCell: uart_tx_inst.i12_4_lut_LC_121)
set_location uart_tx_inst.i1342_3_lut 12 3 0 # SB_LUT4 (LogicCell: uart_tx_inst.txd_reg_50_LC_122)
set_location uart_tx_inst.txd_reg_50 12 3 0 # SB_DFFESS (LogicCell: uart_tx_inst.txd_reg_50_LC_122)
set_location uart_tx_inst.i1343_2_lut 7 2 4 # SB_LUT4 (LogicCell: uart_tx_inst.i1343_2_lut_LC_123)
set_location uart_tx_inst.i13_4_lut 12 1 0 # SB_LUT4 (LogicCell: uart_tx_inst.i13_4_lut_LC_124)
set_location uart_tx_inst.i146_3_lut 8 2 4 # SB_LUT4 (LogicCell: uart_tx_inst.i146_3_lut_LC_125)
set_location uart_tx_inst.i14_4_lut 11 1 4 # SB_LUT4 (LogicCell: uart_tx_inst.i14_4_lut_LC_126)
set_location uart_tx_inst.i1524_3_lut_4_lut 11 1 7 # SB_LUT4 (LogicCell: uart_tx_inst.i1524_3_lut_4_lut_LC_127)
set_location uart_tx_inst.i1527_2_lut 8 2 5 # SB_LUT4 (LogicCell: uart_tx_inst.i1527_2_lut_LC_128)
set_location uart_tx_inst.i1589_2_lut_3_lut 8 10 3 # SB_LUT4 (LogicCell: uart_tx_inst.i1589_2_lut_3_lut_LC_129)
set_location uart_tx_inst.i1594_2_lut 6 2 0 # SB_LUT4 (LogicCell: uart_tx_inst.input_axis_tready_reg_49_LC_130)
set_location uart_tx_inst.input_axis_tready_reg_49 6 2 0 # SB_DFFESR (LogicCell: uart_tx_inst.input_axis_tready_reg_49_LC_130)
set_location uart_tx_inst.i15_4_lut 8 1 4 # SB_LUT4 (LogicCell: uart_tx_inst.i15_4_lut_LC_131)
set_location uart_tx_inst.i18_4_lut 8 1 5 # SB_LUT4 (LogicCell: uart_tx_inst.i18_4_lut_LC_132)
set_location uart_tx_inst.i1_2_lut 7 1 1 # SB_LUT4 (LogicCell: uart_tx_inst.bit_cnt__i1_LC_133)
set_location uart_tx_inst.bit_cnt__i1 7 1 1 # SB_DFFESR (LogicCell: uart_tx_inst.bit_cnt__i1_LC_133)
set_location uart_tx_inst.i1_2_lut_3_lut 6 1 0 # SB_LUT4 (LogicCell: uart_tx_inst.i1_2_lut_3_lut_LC_134)
set_location uart_tx_inst.i1_2_lut_4_lut 8 2 2 # SB_LUT4 (LogicCell: uart_tx_inst.i1_2_lut_4_lut_LC_135)
set_location uart_tx_inst.i1_2_lut_4_lut_adj_24 7 2 3 # SB_LUT4 (LogicCell: uart_tx_inst.i1_2_lut_4_lut_adj_24_LC_136)
set_location uart_tx_inst.i1_3_lut 8 3 6 # SB_LUT4 (LogicCell: uart_tx_inst.i1_3_lut_LC_137)
set_location uart_tx_inst.i1_3_lut_4_lut 7 2 6 # SB_LUT4 (LogicCell: uart_tx_inst.i1_3_lut_4_lut_LC_138)
set_location uart_tx_inst.i1_3_lut_adj_25 6 1 1 # SB_LUT4 (LogicCell: uart_tx_inst.i1_3_lut_adj_25_LC_139)
set_location uart_tx_inst.i1_4_lut 8 2 3 # SB_LUT4 (LogicCell: uart_tx_inst.i1_4_lut_LC_140)
set_location uart_tx_inst.i266_2_lut 7 2 7 # SB_LUT4 (LogicCell: uart_tx_inst.i266_2_lut_LC_141)
set_location uart_tx_inst.i29_4_lut 8 2 6 # SB_LUT4 (LogicCell: uart_tx_inst.i29_4_lut_LC_142)
set_location uart_tx_inst.i2_2_lut_4_lut 7 2 0 # SB_LUT4 (LogicCell: uart_tx_inst.i2_2_lut_4_lut_LC_143)
set_location uart_tx_inst.i2_3_lut 8 2 0 # SB_LUT4 (LogicCell: uart_tx_inst.i2_3_lut_LC_144)
set_location uart_tx_inst.i2_3_lut_4_lut 9 1 7 # SB_LUT4 (LogicCell: uart_tx_inst.i2_3_lut_4_lut_LC_145)
set_location uart_tx_inst.i319_4_lut 8 1 0 # SB_LUT4 (LogicCell: uart_tx_inst.i319_4_lut_LC_146)
set_location uart_tx_inst.i407_2_lut 6 1 4 # SB_LUT4 (LogicCell: uart_tx_inst.i407_2_lut_LC_147)
set_location uart_tx_inst.i732_3_lut 11 1 5 # SB_LUT4 (LogicCell: uart_tx_inst.i732_3_lut_LC_148)
set_location uart_tx_inst.i734_3_lut_4_lut 11 1 6 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i3_LC_149)
set_location uart_tx_inst.prescale_reg__i3 11 1 6 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i3_LC_149)
set_location uart_tx_inst.i737_3_lut 12 1 1 # SB_LUT4 (LogicCell: uart_tx_inst.i737_3_lut_LC_150)
set_location uart_tx_inst.i739_3_lut_4_lut 12 1 2 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i4_LC_151)
set_location uart_tx_inst.prescale_reg__i4 12 1 2 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i4_LC_151)
set_location uart_tx_inst.i742_3_lut 12 1 4 # SB_LUT4 (LogicCell: uart_tx_inst.i742_3_lut_LC_152)
set_location uart_tx_inst.i744_3_lut_4_lut 12 1 5 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i5_LC_153)
set_location uart_tx_inst.prescale_reg__i5 12 1 5 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i5_LC_153)
set_location uart_tx_inst.i747_3_lut 9 2 1 # SB_LUT4 (LogicCell: uart_tx_inst.i747_3_lut_LC_154)
set_location uart_tx_inst.i749_3_lut_4_lut 9 2 2 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i6_LC_155)
set_location uart_tx_inst.prescale_reg__i6 9 2 2 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i6_LC_155)
set_location uart_tx_inst.i752_3_lut 9 2 3 # SB_LUT4 (LogicCell: uart_tx_inst.i752_3_lut_LC_156)
set_location uart_tx_inst.i754_3_lut_4_lut 9 2 4 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i7_LC_157)
set_location uart_tx_inst.prescale_reg__i7 9 2 4 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i7_LC_157)
set_location uart_tx_inst.i757_3_lut 12 1 6 # SB_LUT4 (LogicCell: uart_tx_inst.i757_3_lut_LC_158)
set_location uart_tx_inst.i759_3_lut_4_lut 12 1 7 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i8_LC_159)
set_location uart_tx_inst.prescale_reg__i8 12 1 7 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i8_LC_159)
set_location uart_tx_inst.i762_3_lut 11 1 2 # SB_LUT4 (LogicCell: uart_tx_inst.i762_3_lut_LC_160)
set_location uart_tx_inst.i764_3_lut_4_lut 11 1 3 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i9_LC_161)
set_location uart_tx_inst.prescale_reg__i9 11 1 3 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i9_LC_161)
set_location uart_tx_inst.i767_3_lut 9 2 5 # SB_LUT4 (LogicCell: uart_tx_inst.i767_3_lut_LC_162)
set_location uart_tx_inst.i769_3_lut_4_lut 9 2 6 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i10_LC_163)
set_location uart_tx_inst.prescale_reg__i10 9 2 6 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i10_LC_163)
set_location uart_tx_inst.i772_3_lut 9 3 5 # SB_LUT4 (LogicCell: uart_tx_inst.i772_3_lut_LC_164)
set_location uart_tx_inst.i774_3_lut_4_lut 9 3 6 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i11_LC_165)
set_location uart_tx_inst.prescale_reg__i11 9 3 6 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i11_LC_165)
set_location uart_tx_inst.i777_3_lut 11 1 0 # SB_LUT4 (LogicCell: uart_tx_inst.i777_3_lut_LC_166)
set_location uart_tx_inst.i779_3_lut_4_lut 11 1 1 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i12_LC_167)
set_location uart_tx_inst.prescale_reg__i12 11 1 1 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i12_LC_167)
set_location uart_tx_inst.i782_3_lut 9 1 0 # SB_LUT4 (LogicCell: uart_tx_inst.i782_3_lut_LC_168)
set_location uart_tx_inst.i784_3_lut_4_lut 9 1 1 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i13_LC_169)
set_location uart_tx_inst.prescale_reg__i13 9 1 1 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i13_LC_169)
set_location uart_tx_inst.i787_3_lut 8 1 1 # SB_LUT4 (LogicCell: uart_tx_inst.i787_3_lut_LC_170)
set_location uart_tx_inst.i789_3_lut_4_lut 9 2 0 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i14_LC_171)
set_location uart_tx_inst.prescale_reg__i14 9 2 0 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i14_LC_171)
set_location uart_tx_inst.i792_3_lut 9 1 2 # SB_LUT4 (LogicCell: uart_tx_inst.i792_3_lut_LC_172)
set_location uart_tx_inst.i794_3_lut_4_lut 9 1 3 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i15_LC_173)
set_location uart_tx_inst.prescale_reg__i15 9 1 3 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i15_LC_173)
set_location uart_tx_inst.i797_3_lut 9 4 1 # SB_LUT4 (LogicCell: uart_tx_inst.i797_3_lut_LC_174)
set_location uart_tx_inst.i799_3_lut_4_lut 9 3 2 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i16_LC_175)
set_location uart_tx_inst.prescale_reg__i16 9 3 2 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i16_LC_175)
set_location uart_tx_inst.i802_3_lut 9 1 4 # SB_LUT4 (LogicCell: uart_tx_inst.i802_3_lut_LC_176)
set_location uart_tx_inst.i804_3_lut_4_lut 9 1 5 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i17_LC_177)
set_location uart_tx_inst.prescale_reg__i17 9 1 5 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i17_LC_177)
set_location uart_tx_inst.i807_3_lut 9 4 4 # SB_LUT4 (LogicCell: uart_tx_inst.i807_3_lut_LC_178)
set_location uart_tx_inst.i809_3_lut_4_lut 9 3 4 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i18_LC_179)
set_location uart_tx_inst.prescale_reg__i18 9 3 4 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i18_LC_179)
set_location uart_tx_inst.mux_27_i1_4_lut 7 3 3 # SB_LUT4 (LogicCell: uart_tx_inst.bit_cnt__i0_LC_180)
set_location uart_tx_inst.bit_cnt__i0 7 3 3 # SB_DFFESR (LogicCell: uart_tx_inst.bit_cnt__i0_LC_180)
set_location uart_tx_inst.mux_27_i4_4_lut 7 3 1 # SB_LUT4 (LogicCell: uart_tx_inst.bit_cnt__i3_LC_181)
set_location uart_tx_inst.bit_cnt__i3 7 3 1 # SB_DFFESR (LogicCell: uart_tx_inst.bit_cnt__i3_LC_181)
set_location uart_tx_inst.mux_42_i1_3_lut_4_lut 12 2 0 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i0_LC_182)
set_location uart_tx_inst.data_reg_i0_i0 12 2 0 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i0_LC_182)
set_location uart_tx_inst.mux_42_i2_3_lut_4_lut 12 2 1 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i1_LC_183)
set_location uart_tx_inst.data_reg_i0_i1 12 2 1 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i1_LC_183)
set_location uart_tx_inst.mux_42_i3_3_lut_4_lut 12 2 2 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i2_LC_184)
set_location uart_tx_inst.data_reg_i0_i2 12 2 2 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i2_LC_184)
set_location uart_tx_inst.mux_42_i4_3_lut_4_lut 12 2 3 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i3_LC_185)
set_location uart_tx_inst.data_reg_i0_i3 12 2 3 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i3_LC_185)
set_location uart_tx_inst.mux_42_i5_3_lut_4_lut 12 2 4 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i4_LC_186)
set_location uart_tx_inst.data_reg_i0_i4 12 2 4 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i4_LC_186)
set_location uart_tx_inst.mux_42_i6_3_lut_4_lut 12 2 5 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i5_LC_187)
set_location uart_tx_inst.data_reg_i0_i5 12 2 5 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i5_LC_187)
set_location uart_tx_inst.mux_42_i7_3_lut_4_lut 12 2 6 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i6_LC_188)
set_location uart_tx_inst.data_reg_i0_i6 12 2 6 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i6_LC_188)
set_location uart_tx_inst.mux_42_i8_3_lut_4_lut 12 2 7 # SB_LUT4 (LogicCell: uart_tx_inst.data_reg_i0_i7_LC_189)
set_location uart_tx_inst.data_reg_i0_i7 12 2 7 # SB_DFFE (LogicCell: uart_tx_inst.data_reg_i0_i7_LC_189)
set_location uart_tx_inst.sub_5_add_2_10_lut 11 3 0 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_10_lut_LC_190)
set_location uart_tx_inst.sub_5_add_2_10 11 3 0 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_10_lut_LC_190)
set_location uart_tx_inst.sub_5_add_2_11_lut 11 3 1 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_11_lut_LC_191)
set_location uart_tx_inst.sub_5_add_2_11 11 3 1 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_11_lut_LC_191)
set_location uart_tx_inst.sub_5_add_2_12_lut 11 3 2 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_12_lut_LC_192)
set_location uart_tx_inst.sub_5_add_2_12 11 3 2 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_12_lut_LC_192)
set_location uart_tx_inst.sub_5_add_2_13_lut 11 3 3 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_13_lut_LC_193)
set_location uart_tx_inst.sub_5_add_2_13 11 3 3 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_13_lut_LC_193)
set_location uart_tx_inst.sub_5_add_2_14_lut 11 3 4 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_14_lut_LC_194)
set_location uart_tx_inst.sub_5_add_2_14 11 3 4 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_14_lut_LC_194)
set_location uart_tx_inst.sub_5_add_2_15_lut 11 3 5 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_15_lut_LC_195)
set_location uart_tx_inst.sub_5_add_2_15 11 3 5 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_15_lut_LC_195)
set_location uart_tx_inst.sub_5_add_2_16_lut 11 3 6 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_16_lut_LC_196)
set_location uart_tx_inst.sub_5_add_2_16 11 3 6 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_16_lut_LC_196)
set_location uart_tx_inst.sub_5_add_2_17_lut 11 3 7 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_17_lut_LC_197)
set_location uart_tx_inst.sub_5_add_2_17 11 3 7 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_17_lut_LC_197)
set_location uart_tx_inst.sub_5_add_2_18_lut 11 4 0 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_18_lut_LC_198)
set_location uart_tx_inst.sub_5_add_2_18 11 4 0 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_18_lut_LC_198)
set_location uart_tx_inst.sub_5_add_2_19_lut 11 4 1 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_19_lut_LC_199)
set_location uart_tx_inst.sub_5_add_2_19 11 4 1 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_19_lut_LC_199)
set_location uart_tx_inst.sub_5_add_2_20_lut 11 4 2 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_20_lut_LC_200)
set_location uart_tx_inst.sub_5_add_2_2_lut 11 2 0 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i0_LC_201)
set_location uart_tx_inst.prescale_reg__i0 11 2 0 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i0_LC_201)
set_location uart_tx_inst.sub_5_add_2_2 11 2 0 # SB_CARRY (LogicCell: uart_tx_inst.prescale_reg__i0_LC_201)
set_location uart_tx_inst.sub_5_add_2_3_lut 11 2 1 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i1_LC_202)
set_location uart_tx_inst.prescale_reg__i1 11 2 1 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i1_LC_202)
set_location uart_tx_inst.sub_5_add_2_3 11 2 1 # SB_CARRY (LogicCell: uart_tx_inst.prescale_reg__i1_LC_202)
set_location uart_tx_inst.sub_5_add_2_4_lut 11 2 2 # SB_LUT4 (LogicCell: uart_tx_inst.prescale_reg__i2_LC_203)
set_location uart_tx_inst.prescale_reg__i2 11 2 2 # SB_DFFESR (LogicCell: uart_tx_inst.prescale_reg__i2_LC_203)
set_location uart_tx_inst.sub_5_add_2_4 11 2 2 # SB_CARRY (LogicCell: uart_tx_inst.prescale_reg__i2_LC_203)
set_location uart_tx_inst.sub_5_add_2_5_lut 11 2 3 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_5_lut_LC_204)
set_location uart_tx_inst.sub_5_add_2_5 11 2 3 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_5_lut_LC_204)
set_location uart_tx_inst.sub_5_add_2_6_lut 11 2 4 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_6_lut_LC_205)
set_location uart_tx_inst.sub_5_add_2_6 11 2 4 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_6_lut_LC_205)
set_location uart_tx_inst.sub_5_add_2_7_lut 11 2 5 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_7_lut_LC_206)
set_location uart_tx_inst.sub_5_add_2_7 11 2 5 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_7_lut_LC_206)
set_location uart_tx_inst.sub_5_add_2_8_lut 11 2 6 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_8_lut_LC_207)
set_location uart_tx_inst.sub_5_add_2_8 11 2 6 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_8_lut_LC_207)
set_location uart_tx_inst.sub_5_add_2_9_lut 11 2 7 # SB_LUT4 (LogicCell: uart_tx_inst.sub_5_add_2_9_lut_LC_208)
set_location uart_tx_inst.sub_5_add_2_9 11 2 7 # SB_CARRY (LogicCell: uart_tx_inst.sub_5_add_2_9_lut_LC_208)
set_location uart_tx_inst.sub_8_add_2_10_lut 12 6 0 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_10_lut_LC_209)
set_location uart_tx_inst.sub_8_add_2_10 12 6 0 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_10_lut_LC_209)
set_location uart_tx_inst.sub_8_add_2_11_lut 12 6 1 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_11_lut_LC_210)
set_location uart_tx_inst.sub_8_add_2_11 12 6 1 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_11_lut_LC_210)
set_location uart_tx_inst.sub_8_add_2_12_lut 12 6 2 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_12_lut_LC_211)
set_location uart_tx_inst.sub_8_add_2_12 12 6 2 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_12_lut_LC_211)
set_location uart_tx_inst.sub_8_add_2_13_lut 12 6 3 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_13_lut_LC_212)
set_location uart_tx_inst.sub_8_add_2_13 12 6 3 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_13_lut_LC_212)
set_location uart_tx_inst.sub_8_add_2_14_lut 12 6 4 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_14_lut_LC_213)
set_location uart_tx_inst.sub_8_add_2_14 12 6 4 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_14_lut_LC_213)
set_location uart_tx_inst.sub_8_add_2_15_lut 12 6 5 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_15_lut_LC_214)
set_location uart_tx_inst.sub_8_add_2_15 12 6 5 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_15_lut_LC_214)
set_location uart_tx_inst.sub_8_add_2_16_lut 12 6 6 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_16_lut_LC_215)
set_location uart_tx_inst.sub_8_add_2_16 12 6 6 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_16_lut_LC_215)
set_location uart_tx_inst.sub_8_add_2_17_lut 12 6 7 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_17_lut_LC_216)
set_location uart_tx_inst.sub_8_add_2_2_lut 12 5 0 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_2_lut_LC_217)
set_location uart_tx_inst.sub_8_add_2_2 12 5 0 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_2_lut_LC_217)
set_location uart_tx_inst.sub_8_add_2_3_lut 12 5 1 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_3_lut_LC_218)
set_location uart_tx_inst.sub_8_add_2_3 12 5 1 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_3_lut_LC_218)
set_location uart_tx_inst.sub_8_add_2_4_lut 12 5 2 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_4_lut_LC_219)
set_location uart_tx_inst.sub_8_add_2_4 12 5 2 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_4_lut_LC_219)
set_location uart_tx_inst.sub_8_add_2_5_lut 12 5 3 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_5_lut_LC_220)
set_location uart_tx_inst.sub_8_add_2_5 12 5 3 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_5_lut_LC_220)
set_location uart_tx_inst.sub_8_add_2_6_lut 12 5 4 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_6_lut_LC_221)
set_location uart_tx_inst.sub_8_add_2_6 12 5 4 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_6_lut_LC_221)
set_location uart_tx_inst.sub_8_add_2_7_lut 12 5 5 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_7_lut_LC_222)
set_location uart_tx_inst.sub_8_add_2_7 12 5 5 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_7_lut_LC_222)
set_location uart_tx_inst.sub_8_add_2_8_lut 12 5 6 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_8_lut_LC_223)
set_location uart_tx_inst.sub_8_add_2_8 12 5 6 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_8_lut_LC_223)
set_location uart_tx_inst.sub_8_add_2_9_lut 12 5 7 # SB_LUT4 (LogicCell: uart_tx_inst.sub_8_add_2_9_lut_LC_224)
set_location uart_tx_inst.sub_8_add_2_9 12 5 7 # SB_CARRY (LogicCell: uart_tx_inst.sub_8_add_2_9_lut_LC_224)
set_location uart_rx_inst.output_axis_tdata_reg__i1_THRU_LUT4_0 8 13 3 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i1_LC_225)
set_location uart_rx_inst.output_axis_tdata_reg__i1 8 13 3 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i1_LC_225)
set_location uart_rx_inst.output_axis_tdata_reg__i2_THRU_LUT4_0 9 13 3 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i2_LC_226)
set_location uart_rx_inst.output_axis_tdata_reg__i2 9 13 3 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i2_LC_226)
set_location uart_rx_inst.output_axis_tdata_reg__i3_THRU_LUT4_0 9 12 2 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i3_LC_227)
set_location uart_rx_inst.output_axis_tdata_reg__i3 9 12 2 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i3_LC_227)
set_location uart_rx_inst.output_axis_tdata_reg__i4_THRU_LUT4_0 9 13 7 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i4_LC_228)
set_location uart_rx_inst.output_axis_tdata_reg__i4 9 13 7 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i4_LC_228)
set_location uart_rx_inst.output_axis_tdata_reg__i5_THRU_LUT4_0 9 12 4 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i5_LC_229)
set_location uart_rx_inst.output_axis_tdata_reg__i5 9 12 4 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i5_LC_229)
set_location uart_rx_inst.output_axis_tdata_reg__i6_THRU_LUT4_0 9 12 5 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i6_LC_230)
set_location uart_rx_inst.output_axis_tdata_reg__i6 9 12 5 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i6_LC_230)
set_location uart_rx_inst.output_axis_tdata_reg__i7_THRU_LUT4_0 9 12 1 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i7_LC_231)
set_location uart_rx_inst.output_axis_tdata_reg__i7 9 12 1 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i7_LC_231)
set_location uart_rx_inst.output_axis_tdata_reg__i8_THRU_LUT4_0 9 12 3 # SB_LUT4 (LogicCell: uart_rx_inst.output_axis_tdata_reg__i8_LC_232)
set_location uart_rx_inst.output_axis_tdata_reg__i8 9 12 3 # SB_DFFESR (LogicCell: uart_rx_inst.output_axis_tdata_reg__i8_LC_232)
set_location uart_rx_inst.rxd_reg_I_0_1_lut_uart_rx_inst.busy_reg_86_REP_LUT4_0 6 6 6 # SB_LUT4 (LogicCell: uart_rx_inst.busy_reg_86_LC_233)
set_location uart_rx_inst.busy_reg_86 6 6 6 # SB_DFFESR (LogicCell: uart_rx_inst.busy_reg_86_LC_233)
set_location uart_tx_inst.busy_reg_53_THRU_LUT4_0 5 1 0 # SB_LUT4 (LogicCell: uart_tx_inst.busy_reg_53_LC_234)
set_location uart_tx_inst.busy_reg_53 5 1 0 # SB_DFFESR (LogicCell: uart_tx_inst.busy_reg_53_LC_234)
set_location uart_rx_inst.overrun_error_reg_87_THRU_LUT4_0 7 4 0 # SB_LUT4 (LogicCell: uart_rx_inst.overrun_error_reg_87_LC_235)
set_location uart_rx_inst.overrun_error_reg_87 7 4 0 # SB_DFFSR (LogicCell: uart_rx_inst.overrun_error_reg_87_LC_235)
set_location uart_rx_inst.rxd_reg_83_THRU_LUT4_0 8 14 4 # SB_LUT4 (LogicCell: uart_rx_inst.rxd_reg_83_LC_236)
set_location uart_rx_inst.rxd_reg_83 8 14 4 # SB_DFFSS (LogicCell: uart_rx_inst.rxd_reg_83_LC_236)
set_location GND -1 -1 -1 # GND
set_io clk_pad 0 8 1 # ICE_GB_IO
set_io input_axis_tdata_pad_0 13 3 1 # ICE_IO
set_io input_axis_tdata_pad_1 13 4 0 # ICE_IO
set_io input_axis_tdata_pad_2 13 4 1 # ICE_IO
set_io input_axis_tdata_pad_3 13 6 0 # ICE_IO
set_io input_axis_tdata_pad_4 13 6 1 # ICE_IO
set_io input_axis_tdata_pad_5 13 7 0 # ICE_IO
set_io input_axis_tdata_pad_6 13 7 1 # ICE_IO
set_io input_axis_tdata_pad_7 13 8 0 # ICE_IO
set_io input_axis_tready_pad 8 0 1 # ICE_IO
set_io input_axis_tvalid_pad 9 0 0 # ICE_IO
set_io output_axis_tdata_pad_0 12 17 1 # ICE_IO
set_io output_axis_tdata_pad_1 12 17 0 # ICE_IO
set_io output_axis_tdata_pad_2 11 17 1 # ICE_IO
set_io output_axis_tdata_pad_3 11 17 0 # ICE_IO
set_io output_axis_tdata_pad_4 10 17 1 # ICE_IO
set_io output_axis_tdata_pad_5 10 17 0 # ICE_IO
set_io output_axis_tdata_pad_6 9 17 1 # ICE_IO
set_io output_axis_tdata_pad_7 9 17 0 # ICE_IO
set_io output_axis_tready_pad 5 0 1 # ICE_IO
set_io output_axis_tvalid_pad 7 0 1 # ICE_IO
set_io rst_pad 9 0 1 # ICE_IO
set_io rx_busy_pad 4 0 1 # ICE_IO
set_io rx_frame_error_pad 13 9 1 # ICE_IO
set_io rx_overrun_error_pad 4 0 0 # ICE_IO
set_io rxd_pad 13 15 0 # ICE_IO
set_io tx_busy_pad 5 0 0 # ICE_IO
set_io txd_pad 13 14 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 6 7 2 # SB_LUT4 (LogicCell: LC_237)
