{{#opt_design}}
opt_design
{{/opt_design}}

place_design

set new_period $period
if {[catch {
    set slack [get_property SLACK [lindex [get_timing_paths] 0]]
    if {$slack >= 0 || $slack < -0.5} {
        set new_period [expr {$period - $slack - 0.45}]
    }
}]} {
    catch {
        set slack [get_property DATAPATH_DELAY [lindex [get_timing_paths] 0]]
        set new_period [expr {ceil($slack)}]
    }
}
if {![info exists new_period]} {
    error "Failed to compute new_period - check timing report or variable setup"
}

create_clock -period $new_period -name $clock_name [get_ports $clock_port]

while {1} {
    if { [ catch {
        phys_opt_design -fanout_opt -placement_opt -casc_opt -critical_cell_opt
        set slack [get_property SLACK [lindex [get_timing_paths] 0]]
        # break
        if {$slack < 0} {break}
        set new_period [expr $new_period - $slack - 0.45]
        create_clock -period $new_period -name $clock_name [get_ports $clock_port]
        puts "New period: $new_period"
    } ] } {
        break
    }
} 
route_design
set slack [get_property SLACK [lindex [get_timing_paths] 0]]
while {1} {
    # adjust clock period so 0.0. > slack > -0.2, see UG904 pg. 97, Annotated *IMPORTANT
    if {$slack >= 0} {
        set new_period [expr $period - $slack - 0.15]
        create_clock -period $new_period -name $clock_name [get_ports $clock_port]
        puts "New period: $new_period"
    } elseif {$slack < -0.2} {
        set new_period [expr $period - $slack - 0.15]
        create_clock -period $new_period -name $clock_name [get_ports $clock_port]
        puts "New period: $new_period"
    }
    phys_opt_design
    # -directive AddRetime
    set slack [get_property SLACK [lindex [get_timing_paths] 0]]
    # break
    if {$slack < 0 } {break}
}
