{{#outputs.clock_crank_tcl}}build {{.}}: template {{outputs.json}} {{impl_library}}/clock_crank.tcl.mustache {{/outputs.clock_crank_tcl}}
build {{outputs.setup_tcl}}: template {{outputs.json}} {{impl_library}}/vivado_impl_setup.tcl.mustache
build {{outputs.impl_tcl}}: template {{outputs.json}} {{impl_library}}/vivado_impl_run.tcl.mustache
build {{outputs.reports_tcl}}: template {{outputs.json}} {{impl_library}}/vivado_impl_reports.tcl.mustache
build {{outputs.run_tcl}}: template {{outputs.json}} {{common_tools_path }}/vivado_top_tcl.mustache

build {{outputs.verilog }} {{outputs.edf}} {{outputs.dcp}} {{outputs.bitstream }} {{outputs.utilization}}: vivado {{outputs.run_tcl}} | {{inputs.synth_edf}} {{inputs.xdc}}
    journal = {{outputs.journal}}
    log = {{outputs.log}}

