write_checkpoint -force -file {{ outputs.dcp }}
write_edif -force -file {{ outputs.edf }}
write_verilog -force -file {{ outputs.verilog }}
report_utilization -file {{ outputs.utilization }}
report_timing -file {{ outputs.timing }}
{{#outputs.bitstream}}
write_bitstream -force {{ . }}

{{/outputs.bitstream}}