read_edif {{ inputs.synth_edf }}
set_property top_file {{ inputs.synth_edf }} [current_fileset]
link_design -part {{ part }}
set_property design_mode GateLvl [current_fileset]

{{#inputs.xdc}}
read_xdc {{ . }}
{{/inputs.xdc}}

{{#clocks}}
if {[info exists clock_name]} {error "Too many clocks in design. BFASST vivado tcl scripts are currently for one clock only."}
set period {{period}}
set clock_port {{ name }}
set clock_name {{ name }}_gen
create_clock -period $period -name $clock_name {{#waveform}} -waveform { {{.}} } {{/waveform}} [get_ports $clock_port]
{{/clocks}}

