if { [ catch {
read_edif {{ synth_output }}/viv_synth.edf
set_property top_file {{ synth_output }}/viv_synth.edf [current_fileset]
link_design -part {{ part }}
{{#xdc}}
read_xdc {{ . }}

{{/xdc}}
set_property design_mode GateLvl [current_fileset]
set timen [exec date]
puts "Impl start time: $timen"
opt_design
place_design
route_design
set timen [exec date]
puts "Impl end time: $timen"
write_checkpoint -force -file {{ impl_output }}/impl.dcp
write_edif -force -file {{ impl_output }}/viv_impl.edf
write_verilog -force -file {{ impl_output }}/viv_impl.v
report_utilization -file {{ impl_output }}/utilization.txt -hierarchical
{{#bit}}
write_bitstream -force {{ . }}

{{/bit}}
} ] } { exit 1 }
exit