{{#outputs.clock_crank_tcl}}build {{.}}: template {{outputs.impl_json}} {{impl_library}}/clock_crank.tcl.mustache {{/outputs.clock_crank_tcl}}
{{#outputs.setup_tcl}}build {{.}}: template {{outputs.impl_json}} {{impl_library}}/vivado_impl_setup.tcl.mustache {{/outputs.setup_tcl}}
{{#outputs.impl_tcl}}build {{.}}: template {{outputs.impl_json}} {{impl_library}}/vivado_impl_run.tcl.mustache {{/outputs.impl_tcl}}
{{#outputs.reports_tcl}}build {{.}}: template {{outputs.impl_json}} {{impl_library}}/vivado_impl_reports.tcl.mustache {{/outputs.reports_tcl}}
{{#outputs.run_tcl}}build {{.}}: template {{outputs.impl_json}} {{common_tools_path }}/vivado_top_tcl.mustache | {{#tcl_sources}} {{.}} {{/tcl_sources}} {{/outputs.run_tcl}}


build {{outputs.impl_verilog }} {{outputs.impl_edf}} {{outputs.impl_dcp}} {{outputs.bitstream }} {{outputs.utilization}}: vivado {{outputs.run_tcl}} | {{inputs.synth_edf}} {{inputs.xdc}} {{#outputs.clock_crank_tcl}} {{.}} {{/outputs.clock_crank_tcl}} {{outputs.setup_tcl}} {{outputs.impl_tcl}} {{outputs.reports_tcl}}
    journal = {{outputs.journal}}
    log = {{outputs.log}}

